@font-face {
  font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), url('../icon/iconfont.woff') format('woff'), url('../icon/iconfont.ttf') format('truetype'), url('../icon/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.hf-container {
  width: 1160px;
  margin: 0px auto;
}
.hf-header {
  width: 100%;
  background: #32c489;
  height: 120px;
  position: relative;
}
.hf-header .hf-logo1 {
  float: left;
  margin-top: 33px;
  margin-left: 20px;
}
.hf-header .hf-header-input {
  float: left;
  margin-top: 35px;
  margin-left: 40px;
}
.hf-header .hf-header-input > input:first-child {
  float: left;
  width: 310px;
  height: 20px;
  border: none;
  padding: 10px 25px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.hf-header .hf-header-input > p {
  float: left;
  width: 1px;
  height: 28px;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  background-color: #8ae1cb;
}
.hf-header .hf-header-input > input:last-child {
  float: left;
  width: 60px;
  height: 20px;
  border: none;
  padding: 10px 25px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #8ae1cb;
  font-size: 24px;
}
.hf-header .hf-logo2 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.hf-nav {
  position: relative;
}
.hf-nav > img {
  position: absolute;
  top: 2px;
  left: 300px;
  width: 37px;
  height: 12px;
}
.hf-nav li a {
  float: left;
  display: inline-block;
  padding: 0 30px;
  line-height: 50px;
  color: #323232;
  font-size: 16px;
  font-family: "微软雅黑";
}
.hf-nav li a:hover {
  background-color: lightgray;
  color: #00b081;
}
.hf-lunbo {
  position: relative;
  height: 421px;
  overflow: hidden;
}
.hf-lunbo .hf-niu1 {
  position: absolute;
  left: 20px;
  top: 183px;
  font-size: 54px;
  color: #fff;
  font-weight: bold;
  opacity: .8;
  z-index: 1;
  cursor: pointer;
}
.hf-lunbo .hf-lunbotu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4095px;
  height: 421px;
}
.hf-lunbo .hf-lunbotu li img {
  float: left;
  width: 1365px;
  height: 421px;
}
.hf-lunbo .hf-niu2 {
  position: absolute;
  right: 20px;
  top: 183px;
  font-size: 54px;
  color: #fff;
  font-weight: bold;
  opacity: .8;
  z-index: 1;
  cursor: pointer;
}
.hf-lunbo .hf-cebian {
  width: 285px;
  height: 420px;
  position: absolute;
  top: 1px;
  left: 95px;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px 0px;
}
.hf-lunbo .hf-cebian li {
  height: 57px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.hf-lunbo .hf-cebian li .hf-span1 {
  float: left;
  color: #00b081;
  font-size: 20px;
  padding: 14px;
}
.hf-lunbo .hf-cebian li .hf-cebian-div {
  float: left;
  margin-top: 10px;
}
.hf-lunbo .hf-cebian li .hf-cebian-div p:first-child {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.hf-lunbo .hf-cebian li .hf-cebian-div p:last-child a {
  color: silver;
  font-size: 14px;
}
.hf-lunbo .hf-cebian li .hf-cebian-div p:last-child a:hover {
  color: #00b081;
  text-decoration: underline;
}
.hf-lunbo .hf-cebian li .hf-span2 {
  float: right;
  font-size: 20px;
  color: silver;
  margin-top: 16px;
  margin-right: 5px;
}
.hf-lunbo .hf-cebian li:hover {
  background-color: white;
}
.hf-lunbo .hf-cebian li:hover .hf-cebian-div p:first-child {
  color: #000;
}
.hf-lunbo .hf-anniu {
  width: 127px;
  position: absolute;
  right: 104px;
  bottom: 15px;
}
.hf-lunbo .hf-anniu li {
  float: left;
  margin-left: 2px;
  width: 40px;
  height: 7px;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}
.hf-lunbo .hf-anniu .active {
  background-color: #ff7467;
}
.hf-4g {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hf-4g a {
  display: block;
  float: left;
  margin-right: 20px;
}
.hf-4g a:last-child {
  margin-right: -10px;
}
.hf-xianshi {
  padding-top: 38px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}
.hf-xianshi .hf-temai .hf-temai-header {
  width: 1160px;
  height: 42px;
}
.hf-xianshi .hf-temai .hf-temai-header > h2 {
  float: left;
  font-size: 36px;
  font-weight: bold;
}
.hf-xianshi .hf-temai .hf-temai-header .temai-span1 {
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #636363;
}
.hf-xianshi .hf-temai .hf-temai-header .temai-span2 {
  display: block;
  float: right;
  margin-top: 20px;
  font-size: 14px;
  color: #636363;
  cursor: pointer;
}
.hf-xianshi .hf-temai .hf-temai-content {
  margin-top: 20px;
  margin-left: -22px;
}
.hf-xianshi .hf-temai .hf-temai-content > li {
  margin-left: 22px;
  float: left;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div1 {
  float: left;
  border-top: 5px solid #717171;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div1 img {
  width: 120px;
  height: 122px;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div2 {
  width: 251px;
  height: 122px;
  float: left;
  border-top: 5px solid #ff7467;
  position: relative;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div2 > p {
  width: 208px;
  height: 40px;
  font-size: 18px;
  margin: 10px 10px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div2 div {
  width: 105px;
  height: 37px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: gray;
  font-size: 14px;
}
.hf-xianshi .hf-temai .hf-temai-content > li .hf-temai-div2 div span {
  font-size: 30px;
  color: #ff7467;
}
/* 1111 */
.hf-freedom {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hf-freedom .hf-freedom-header > h1 {
  float: left;
  font-size: 36px;
  font-weight: bold;
}
.hf-freedom .hf-freedom-header > p {
  float: left;
  font-size: 14px;
  color: #636363;
  margin-top: 15px;
  margin-left: 10px;
}
.hf-freedom .hf-freedom-header div {
  margin-top: 5px;
  float: right;
}
.hf-freedom .hf-freedom-header div a {
  float: left;
  display: block;
  color: #636363;
  margin-left: 20px;
  line-height: 30px;
  height: 30px;
}
.hf-freedom .hf-freedom-header div a:hover {
  border-bottom: 3px solid #00b081;
  color: #00b081;
}
.hf-freedom .hf-freedom-floor1 {
  margin-top: 30px;
  margin-left: -20px;
  height: 575px;
  width: 1180px;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  width: 570px;
  height: 268px;
  position: relative;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri1 {
  width: 180px;
  height: 37px;
  position: absolute;
  top: 146px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri1 > p:first-child {
  float: left;
  text-align: center;
  line-height: 37px;
  width: 73px;
  height: 37px;
  color: white;
  font-size: 16px;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri1 > p:last-child {
  background-color: #ff7467;
  float: left;
  text-align: center;
  line-height: 37px;
  width: 107px;
  height: 37px;
  color: white;
  font-size: 14px;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri1 > p:last-child span {
  font-size: 24px;
  color: white;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri11 {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri11 > p:first-child {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  width: 544px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri11 > p:last-child {
  margin-left: 20px;
  margin-top: 5px;
}
.hf-freedom .hf-freedom-floor1 .hf-freedom-floor1-zuo .hf-jinri11 > p:last-child span {
  font-size: 14px;
  color: #c0c0c0;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 {
  margin-top: 20px;
  float: left;
  width: 275px;
  margin-left: 20px;
  position: relative;
  height: 268px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 img {
  width: 275px;
  height: 185px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-jinri2 {
  width: 155px;
  height: 35px;
  position: absolute;
  bottom: 83px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-jinri2 > p:first-child {
  float: left;
  width: 62px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: white;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-jinri2 > p:last-child {
  float: left;
  width: 93px;
  text-align: center;
  line-height: 33px;
  background-color: #ff7467;
  color: white;
  font-size: 14px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-jinri2 > p:last-child span {
  color: white;
  font-size: 20px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-jinri22 {
  width: 275px;
  height: 83px;
  color: black;
  padding: 20px;
  color: #323232;
  font-size: 20px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  line-height: 30px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-floor1-last {
  width: 100%;
  height: 100%;
  background: #2bcea5;
  position: relative;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-floor1-last > div {
  width: 200px;
  height: 210px;
  position: absolute;
  top: 46px;
  left: 36px;
  text-align: center;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-floor1-last > div p {
  color: white;
  font-size: 20px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-floor1-last > div .hf-lastp {
  margin-top: 140px;
}
.hf-freedom .hf-freedom-floor1 .hf-floor1-you1 .hf-floor1-last > div .hf-lastp a {
  color: white;
  font-size: 16px;
}
/* 222 */
.hf-freedom-hf {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hf-freedom-hf .hf-freedom-header-hf > h1 {
  float: left;
  font-size: 36px;
  font-weight: bold;
}
.hf-freedom-hf .hf-freedom-header-hf > p {
  float: left;
  font-size: 14px;
  color: #636363;
  margin-top: 15px;
  margin-left: 10px;
}
.hf-freedom-hf .hf-freedom-header-hf div {
  margin-top: 5px;
  float: right;
}
.hf-freedom-hf .hf-freedom-header-hf div a {
  float: left;
  display: block;
  color: #636363;
  margin-left: 20px;
  line-height: 30px;
  height: 30px;
}
.hf-freedom-hf .hf-freedom-header-hf div a:hover {
  border-bottom: 3px solid #00b081;
  color: #00b081;
}
.hf-freedom-hf .hf-freedom-floor1-hf {
  margin-top: 30px;
  margin-left: -20px;
  height: 575px;
  width: 1180px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  width: 570px;
  height: 268px;
  position: relative;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri8 {
  width: 180px;
  height: 37px;
  position: absolute;
  top: 146px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri8 > p:first-child {
  float: left;
  text-align: center;
  line-height: 37px;
  width: 73px;
  height: 37px;
  color: white;
  font-size: 16px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri8 > p:last-child {
  background-color: #ff7467;
  float: left;
  text-align: center;
  line-height: 37px;
  width: 107px;
  height: 37px;
  color: white;
  font-size: 14px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri8 > p:last-child span {
  font-size: 24px;
  color: white;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri88 {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri88 > p:first-child {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  width: 544px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri88 > p:last-child {
  margin-left: 20px;
  margin-top: 5px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-freedom-floor2-zuo .hf-jinri88 > p:last-child span {
  font-size: 14px;
  color: #c0c0c0;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf {
  margin-top: 20px;
  float: left;
  width: 275px;
  margin-left: 20px;
  position: relative;
  height: 268px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf img {
  width: 275px;
  height: 185px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-jinri8 {
  width: 155px;
  height: 35px;
  position: absolute;
  bottom: 83px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-jinri8 > p:first-child {
  float: left;
  width: 62px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: white;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-jinri8 > p:last-child {
  float: left;
  width: 93px;
  text-align: center;
  line-height: 33px;
  background-color: #ff7467;
  color: white;
  font-size: 14px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-jinri8 > p:last-child span {
  color: white;
  font-size: 20px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-jinri88 {
  width: 275px;
  height: 83px;
  color: black;
  padding: 20px;
  color: #323232;
  font-size: 20px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  line-height: 30px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-floor1-last-hf {
  width: 100%;
  height: 100%;
  background: #2bcea5;
  position: relative;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-floor1-last-hf > div {
  width: 200px;
  height: 210px;
  position: absolute;
  top: 46px;
  left: 36px;
  text-align: center;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-floor1-last-hf > div p {
  color: white;
  font-size: 20px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-floor1-last-hf > div .hf-lastp-hf {
  margin-top: 140px;
}
.hf-freedom-hf .hf-freedom-floor1-hf .hf-floor1-you1-hf .hf-floor1-last-hf > div .hf-lastp-hf a {
  color: white;
  font-size: 16px;
}
/*3333*/
.hf-bigWorld-footer {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hf-bigWorld-footer > div {
  color: #dfe3e8;
  text-align: center;
}
.hf-bigWorld-footer > div a {
  font-size: 22px;
  color: #575757;
}
.hf-bigWorld-footer > div a:hover {
  color: #11af81;
}
.hf-bigWorld-footer > ul {
  margin-top: 60px;
}
.hf-bigWorld-footer > ul > li {
  width: 350px;
  margin-left: 35px;
  float: left;
}
.hf-bigWorld-footer > ul > li img {
  float: left;
}
.hf-bigWorld-footer > ul > li div {
  float: left;
  margin-left: 10px;
  width: 277px;
}
.hf-bigWorld-footer > ul > li div > p:first-child {
  font-size: 16px;
  color: black;
}
.hf-bigWorld-footer > ul > li div > p:last-child {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}
