* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
i {
  font-size: 14px;
  font-weight: normal;
  color: black;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
input:focus {
  outline: none;
}
.clear:after {
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
  content: '';
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/hcx/iconfont.eot');
  src: url('../fonts/hcx/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hcx/iconfont.woff') format('woff'), url('../fonts/hcx/iconfont.ttf') format('truetype'), url('../fonts/hcx/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
header {
  padding: 0px 30px;
  box-sizing: border-box;
  height: 60px;
  background-color: #323232;
}
header .header-left .logo {
  float: left;
  width: 76px;
  padding-top: 12px;
  margin-right: 20px;
}
header .header-left .logo img {
  width: 100%;
}
header .header-left .nav > li {
  float: left;
  position: relative;
}
header .header-left .nav > li.community {
  position: relative;
}
header .header-left .nav > li.community:hover > .community-drop {
  display: block;
}
header .header-left .nav > li.community .community-drop {
  -webkit-transition: dropani 0.3s linear;
  transition: dropani 0.3s linear;
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 185px;
  height: 115px;
  background-color: #fff;
  padding: 8px 0px;
  z-index: 100;
}
header .header-left .nav > li.community .community-drop > ul > li {
  padding-left: 30px;
  margin-bottom: 2px;
}
header .header-left .nav > li.community .community-drop > ul > li:hover {
  background-color: #e3fae1;
}
header .header-left .nav > li.community .community-drop > ul > li.active {
  background-color: #e3fae1;
}
header .header-left .nav > li.community .community-drop > ul > li > a {
  color: #636363;
  line-height: 30px;
}
header .header-left .nav > li.community .community-drop > ul > li.drop-2:hover .community-drop-2 {
  display: block;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 {
  display: none;
  position: absolute;
  left: 185px;
  top: 0px;
  width: 610px;
  height: 250px;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li {
  float: left;
  padding: 5px 0px;
  border-bottom: 1px dashed gray;
  box-sizing: border-box;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li.title {
  border-bottom: 1px solid gray;
  width: 100%;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li.title h5 {
  float: left;
  font-size: 16px;
  color: #323232;
  line-height: 30px;
  height: 30px;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li.title > a {
  float: right;
  line-height: 30px;
  font-size: 14px;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li h5 {
  font-size: 16px;
  color: #323232;
  line-height: 25px;
  height: 25px;
  float: left;
  width: 100px;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li > div {
  float: left;
  width: 460px;
}
header .header-left .nav > li.community .community-drop > ul > li .community-drop-2 > ul > li > div > a {
  padding: 5px 0px 0px 0px;
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  box-sizing: border-box;
  color: #636363;
}
@-webkit-keyframes dropani {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes dropani {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
header .header-left .nav > li.hot {
  margin-right: 40px;
}
header .header-left .nav > li.hot > span {
  position: absolute;
  left: 95%;
  top: 17px;
  width: 44px;
  height: 19px;
}
header .header-left .nav > li.hot > span > img {
  width: 100%;
}
header .header-left .nav > li:hover > a {
  color: #10b041;
}
header .header-left .nav > li > a {
  line-height: 60px;
  padding: 0px 10px;
  color: silver;
  font-weight: bold;
}
header .header-left .nav > li > a.active {
  color: #10b041;
}
header .header-left .nav > li.schedule {
  position: relative;
}
header .header-left .nav > li.schedule:hover > div {
  display: block;
}
header .header-left .nav > li.schedule > div {
  display: none;
  position: absolute;
  width: 125px;
  top: 60px;
  left: 0px;
  padding: 10px 0px;
  background-color: #fff;
  z-index: 100;
}
header .header-left .nav > li.schedule > div > ul li:hover {
  background-color: #e3fae1;
}
header .header-left .nav > li.schedule > div > ul li a {
  height: 30px;
  line-height: 30px;
  display: block;
  color: #636363;
  padding-left: 15px;
}
header .header-right {
  float: right;
}
header .header-right > ul > li {
  float: left;
  position: relative;
  padding-left: 10px;
  color: silver;
  line-height: 60px;
  font-size: 16px;
}
header .header-right > ul > li:hover {
  color: #10b041;
}
header .header-right > ul > li:hover > a {
  color: #10b041;
}
header .header-right > ul > li > a {
  color: silver;
  line-height: 60px;
  font-weight: 700;
}
header .header-right > ul > li.search .ico {
  position: absolute;
  right: 20px;
  top: 4px;
  font-size: 20px;
}
header .header-right > ul > li.search:hover > input {
  width: 200px;
}
header .header-right > ul > li.search input {
  width: 0px;
  height: 25px;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
footer {
  width: 100%;
  background-color: #323232;
  border-top: 3px solid #25a851;
  padding: 36px 0px 25px 0px;
}
footer .footer-content {
  width: 980px;
  margin: 0px auto;
}
footer .footer-content > nav > ul > li {
  float: left;
  border-left: solid 2px #636363;
}
footer .footer-content > nav > ul > li.brief {
  border-left: solid 2px #25a851;
}
footer .footer-content > nav > ul > li a {
  color: silver;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 700;
}
footer .footer-content > nav > ul > li a:hover {
  color: #25a851;
}
footer .footer-content p {
  margin-top: 18px;
  color: #636363;
  font-size: 12px;
  padding-left: 12px;
}
footer .footer-content .footer-link {
  padding-top: 20px;
  padding-left: 10px;
}
footer .footer-content .footer-link h4 {
  float: left;
  color: #636363;
  font-weight: 700;
  line-height: 20px;
}
footer .footer-content .footer-link > ul > li {
  float: left;
}
footer .footer-content .footer-link > ul > li a {
  color: #636363;
  padding: 0px 8px;
}
footer .footer-content .footer-link > ul > li a:hover {
  color: #25a851;
}
#nav {
  background-color: #f5f5f5;
  margin-top: 20px;
}
#nav .nav {
  padding-top: 25px;
  width: 1160px;
  margin: 0px auto;
}
#nav .nav > ul > li {
  float: left;
}
#nav .nav > ul > li > a {
  font-size: 18px;
  padding-right: 30px;
  margin-left: 30px;
  color: #575757;
}
#nav .nav > ul > li > a.first {
  margin-left: 0px;
}
#nav .nav > ul > li > a.last {
  padding-right: 0px;
}
#nav .nav > ul > li b {
  color: #dfdfdf;
}
#nav .safe {
  width: 1160px;
  margin: 0px auto;
  padding: 60px 0px 50px;
}
#nav .safe > ul > li {
  width: 350px;
  margin-right: 30px;
  float: left;
}
#nav .safe > ul > li .photo {
  float: left;
  width: 56px;
  height: 56px;
  background: url('../images/hotel/foot-feature.png') no-repeat;
}
#nav .safe > ul > li .desc {
  float: left;
  width: 275px;
  padding-left: 20px;
}
#nav .safe > ul > li .desc h4 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;
  color: #323232;
}
#nav .safe > ul > li .desc p {
  font-size: 12px;
  color: #959595;
}
#nav .safe .multi .photo {
  background-position: 0 -56px;
}
#nav .safe .escort {
  margin-right: 0px;
}
#nav .safe .escort .photo {
  background-position: 0 -112px;
}
#pop {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  text-align: center;
  overflow: hidden;
}
#pop .pop {
  width: 980px;
  margin: 0px auto;
}
#pop .pop a {
  display: block;
  float: left;
  width: 422px;
}
#pop .pop a img {
  width: 100%;
}
#pop .pop .btn-group {
  float: right;
}
#pop .pop .btn-group ul > li {
  float: left;
  width: 100px;
  height: 30px;
  margin: 20px 10px 0px 0px;
  background: url(../images/btn_bg.png);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#pop .pop .btn-group ul > li.weibo {
  background-position: 0 -30px;
}
#pop .pop .btn-group ul > li.QQ {
  background-position: -100px -30px;
}
#pop .pop .btn-group ul > li.reg {
  background-position: -200px -30px;
}
#pop .pop .btn-group ul > li.login {
  background: none;
  width: 65px;
  margin-top: 0px;
  cursor: none;
}
#pop .pop .btn-group ul > li.login a {
  display: inline-block;
  width: 50px;
  color: #fff;
  font-size: 14px;
  line-height: 70px;
  font-weight: bold;
  text-decoration: underline;
}
#pop .pop .btn-group ul > li.login span {
  display: inline-block;
  width: 15px;
  font-size: 14px;
  color: #d7d7d7;
  line-height: 70px;
}
#pop .pop .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 31px;
  height: 29px;
  background: url('../images/public/pop_close.png') right center no-repeat;
}
#pop .pop .close:hover {
  background: url('../images/public/pop_close.png') center center no-repeat;
}
