@font-face {
  font-family: 'iconfont';
  src: url('../fonts/lqy/iconfont.eot');
  src: url('../fonts/lqy/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lqy/iconfont.woff') format('woff'), url('../fonts/lqy/iconfont.ttf') format('truetype'), url('../fonts/lqy/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.container {
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
}
.container .bannercontainer {
  width: 100%;
  position: relative;
}
.container .bannercontainer .bannerbody {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.container .bannercontainer .bannerbody .banner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.container .bannercontainer .bannerbody .banner .page {
  position: absolute;
  right: 30px;
  bottom: 85px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.container .bannercontainer .bannerbody .banner .page span {
  font-size: 48px;
  font-weight: 400;
}
.container .bannercontainer .bannerbody .banner .country {
  position: absolute;
  right: 30px;
  bottom: 55px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.container .bannercontainer .bannerbody .banner .desc {
  position: absolute;
  right: 30px;
  bottom: 25px;
  font-size: 14px;
  color: #fff;
}
.container .bannercontainer .bannerbody .banner1 {
  background: url(../images/index/banner1.jpg) no-repeat;
  background-size: 100% 100%;
}
.container .bannercontainer .bannerbody .banner2 {
  background: url(../images/index/banner2.jpg) no-repeat;
  background-size: 100% 100%;
}
.container .bannercontainer .bannerbody .banner3 {
  background: url(../images/index/banner3.jpg) no-repeat;
  background-size: 100% 100%;
}
.container .bannercontainer .bannerbody .banner4 {
  background: url(../images/index/banner4.jpg) no-repeat;
  background-size: 100% 100%;
}
.container .bannercontainer .bannerbody .banner5 {
  background: url(../images/index/banner5.jpg) no-repeat;
  background-size: 100% 100%;
}
.container .bannercontainer .prevbtn,
.container .bannercontainer .nextbtn {
  width: 50px;
  height: 80px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 80px;
  opacity: .75;
  cursor: pointer;
  font-family: none;
}
.container .bannercontainer .prevbtn {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 30px;
}
.container .bannercontainer .nextbtn {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  right: 30px;
}
.container .bannercontainer .inputcontainer {
  position: absolute;
  z-index: 10;
  top: 250px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  height: 115px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}
.container .bannercontainer .inputcontainer > ul {
  padding-top: 14px;
}
.container .bannercontainer .inputcontainer > ul li {
  float: left;
  width: 25%;
  font-size: 20px;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  background: url(../images/index/search_icon.png) no-repeat;
  cursor: pointer;
}
.container .bannercontainer .inputcontainer > ul .li1 {
  background-position: 20px -39px;
}
.container .bannercontainer .inputcontainer > ul .li1.active {
  background-position: 20px 4px;
}
.container .bannercontainer .inputcontainer > ul .li2 {
  background-position: 20px -124px;
}
.container .bannercontainer .inputcontainer > ul .li2.active {
  background-position: 20px -81px;
}
.container .bannercontainer .inputcontainer > ul .li3 {
  background-position: 20px -212px;
}
.container .bannercontainer .inputcontainer > ul .li3.active {
  background-position: 20px -169px;
}
.container .bannercontainer .inputcontainer > ul .li4 {
  background-position: 27px -299px;
}
.container .bannercontainer .inputcontainer > ul .li4.active {
  background-position: 27px -256px;
}
.container .bannercontainer .inputcontainer .inputbody .destination,
.container .bannercontainer .inputcontainer .inputbody .discount {
  /* position: relative; */
  display: none;
  padding: 18px 0 0 10px;
}
.container .bannercontainer .inputcontainer .inputbody .destination > input,
.container .bannercontainer .inputcontainer .inputbody .discount > input {
  width: 510px;
  height: 40px;
  border: 1px solid transparent;
  font-size: 18px;
  color: #323232;
  padding: 0 10px;
  border-radius: 3px 0 0 3px;
  float: left;
}
.container .bannercontainer .inputcontainer .inputbody .destination > button,
.container .bannercontainer .inputcontainer .inputbody .discount > button {
  width: 90px;
  height: 40px;
  border-radius: 0 3px 3px 0;
  border: none;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background: -webkit-linear-gradient(315deg, #2ed685, #10a251);
  background: linear-gradient(135deg, #2ed685, #10a251);
  cursor: pointer;
  float: left;
}
.container .bannercontainer .inputcontainer .inputbody .destination .hotsearch,
.container .bannercontainer .inputcontainer .inputbody .discount .hotsearch {
  display: none;
  position: absolute;
  padding: 10px;
  top: 110px;
  left: 10px;
  width: 510px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.container .bannercontainer .inputcontainer .inputbody .destination .hotsearch h3,
.container .bannercontainer .inputcontainer .inputbody .discount .hotsearch h3 {
  text-align: center;
  background: #f5f5f5;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 3px;
  text-align: left;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
}
.container .bannercontainer .inputcontainer .inputbody .destination .hotsearch > ul li,
.container .bannercontainer .inputcontainer .inputbody .discount .hotsearch > ul li {
  float: left;
}
.container .bannercontainer .inputcontainer .inputbody .destination .hotsearch > ul li a,
.container .bannercontainer .inputcontainer .inputbody .discount .hotsearch > ul li a {
  display: inline-block;
  margin-top: 6px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 3px;
  color: #636363;
  white-space: nowrap;
}
.container .bannercontainer .inputcontainer .inputbody .destination .hotsearch > ul li a:hover,
.container .bannercontainer .inputcontainer .inputbody .discount .hotsearch > ul li a:hover {
  background: #e3fae1;
}
.container .bannercontainer .inputcontainer .inputbody .trip {
  display: none;
  padding-top: 16px;
  text-align: center;
}
.container .bannercontainer .inputcontainer .inputbody .trip p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.container .bannercontainer .inputcontainer .inputbody .trip a {
  display: inline-block;
  margin: 6px 10px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
}
.container .bannercontainer .inputcontainer .inputbody .trip .trip1 {
  background: -webkit-linear-gradient(315deg, #2ed685, #10a251);
  background: linear-gradient(135deg, #2ed685, #10a251);
}
.container .bannercontainer .inputcontainer .inputbody .trip .trip2 {
  background: -webkit-linear-gradient(315deg, #44abe7, #0886ce);
  background: linear-gradient(135deg, #44abe7, #0886ce);
}
.container .bannercontainer .inputcontainer .inputbody .hotel {
  display: none;
  padding: 18px 0 0 10px;
}
.container .bannercontainer .inputcontainer .inputbody .hotel input {
  height: 40px;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid transparent;
  color: #323232;
  float: left;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .input1 {
  width: 230px;
  border-radius: 3px 0 0 3px;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .input2,
.container .bannercontainer .inputcontainer .inputbody .hotel .input3 {
  width: 115px;
  text-align: center;
  border-left-color: #d7d7d7;
  cursor: pointer;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotelbtn {
  width: 130px;
  border-radius: 0 3px 3px 0;
  float: left;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
  color: #fff;
  font-weight: 700;
  background: -webkit-linear-gradient(315deg, #2ed685, #10a251);
  background: linear-gradient(135deg, #2ed685, #10a251);
  cursor: pointer;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotsearch {
  display: none;
  position: absolute;
  padding: 10px;
  top: 110px;
  left: 10px;
  width: 460px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotsearch h3 {
  text-align: center;
  background: #f5f5f5;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  border-radius: 3px;
  text-align: left;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotsearch > ul li {
  float: left;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotsearch > ul li a {
  display: inline-block;
  margin-top: 6px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 3px;
  color: #636363;
  white-space: nowrap;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotsearch > ul li a:hover {
  background: #e3fae1;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotelin-container {
  position: absolute;
  top: -600px;
  left: -239px;
  width: 300px;
}
.container .bannercontainer .inputcontainer .inputbody .hotel .hotelout-container {
  position: absolute;
  top: -600px;
  left: -239px;
  width: 500px;
}
.container .ads {
  width: 100%;
  padding: 20px 0;
  background: #f5f5f5;
  border: 1px solid #ececec;
}
.container .ads img {
  float: left;
  margin-left: 20px;
}
.container .ads img:first-child {
  margin-left: 92px;
}
.container .interestcontainer {
  width: 1160px;
  margin: 0 auto;
}
.container .interestcontainer > h2 {
  margin-top: 40px;
  font-size: 36px;
  height: 54px;
  line-height: 54px;
  color: #636363;
  text-align: center;
  font-weight: 500;
}
.container .interestcontainer > p {
  font-size: 14px;
  height: 20px;
  width: 100px;
  line-height: 20px;
  cursor: pointer;
  color: #636363;
}
.container .interestcontainer > p:hover {
  color: #10b041;
}
.container .interestcontainer .interest {
  margin-left: -20px;
}
.container .interestcontainer .interest .interestcell {
  float: left;
  width: 275px;
  height: 300px;
  margin: 20px 0 0 20px;
  position: relative;
}
.container .interestcontainer .interest .interestcell > a > img {
  width: 275px;
  height: 185px;
}
.container .interestcontainer .interest .interestcell > a .info {
  border: 1px solid #ececec;
  padding: 0 18px;
  height: 114px;
  line-height: 24px;
  overflow: hidden;
}
.container .interestcontainer .interest .interestcell > a .info h4 {
  margin-top: 14px;
  height: 48px;
  font-size: 16px;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}
.container .interestcontainer .interest .interestcell > a .info .infoleft {
  float: left;
  color: #636363;
  display: inline-block;
  max-width: 55%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.container .interestcontainer .interest .interestcell > a .info .inforight {
  float: right;
  color: #959595;
  font-weight: 700;
  white-space: nowrap;
  font-size: 12px;
}
.container .interestcontainer .interest .interestcell > a .info .inforight em {
  font-size: 20px;
  font-family: HelveticaNeue-light, Helvetica, Avenir-light, Avenir Next, Arial;
  color: #ff7466;
  font-style: normal;
}
.container .interestcontainer .interest .interestcell > a .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -30px;
  padding: 8px 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.container .interestcontainer .interest .interestcell > a .circle > span {
  display: block;
  height: 22px;
  line-height: 22px;
  white-space: nowrap;
}
.container .interestcontainer .interest .interestcell > a .circle .bt {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.container .interestcontainer .interest .interestcell > a .bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 185px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.container .interestcontainer .interest .interestcell > a .bg .bgcolor {
  width: 100%;
  height: 100%;
  background: rgba(47, 214, 133, 0.75);
}
.container .interestcontainer .interest .interestcell > a .bg span {
  display: block;
  position: absolute;
  top: 135px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.container .interestcontainer .interest .interestcell > a:hover .info > h4 {
  color: #10b041;
}
.container .interestcontainer .interest .interestcell > a:hover .bg {
  display: block;
}
.container .zworldcontainer {
  margin-top: 100px;
  background: -webkit-linear-gradient(top, #6dd27c 0, #1bcdae);
  background: linear-gradient(180deg, #6dd27c 0, #1bcdae);
}
.container .zworldcontainer .zworld {
  width: 1160px;
  margin: 0 auto;
  padding: 20px 0 80px;
}
.container .zworldcontainer .zworld h2 {
  height: 74px;
  line-height: 74px;
  font-size: 36px;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
  color: #636363;
  text-align: center;
  font-weight: 500;
  background: url(../images/index/zworld-title.png) center no-repeat;
}
.container .zworldcontainer .zworld .slide .slideitem {
  margin-left: -25px;
  display: none;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday {
  float: left;
  width: 370px;
  height: 345px;
  margin-left: 25px;
  margin-top: 25px;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: show 0.5s ease-in-out 0s forwards;
          animation: show 0.5s ease-in-out 0s forwards;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday h3 {
  padding: 20px 15px 0;
  line-height: 40px;
  font-size: 23px;
  font-weight: 700;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyimg {
  margin: 17px 15px 0;
  position: relative;
  width: 340px;
  height: 146px;
  overflow: hidden;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyimg img {
  width: 100%;
  margin-top: -40px;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyimg .wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyimg .wrap p {
  display: table-cell;
  height: 40px;
  line-height: 20px;
  padding: 5px 10px;
  overflow: hidden;
  color: #fff;
  vertical-align: middle;
  font-size: 16px;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyprice {
  padding: 20px 15px 17px;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyprice span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #959595;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyprice span em {
  font-style: normal;
  color: #ff7466;
  font-size: 36px;
  font-weight: 400;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buyprice button {
  float: right;
  border: 0;
  width: 85px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #ff7466;
  box-shadow: inset 0 3px 0 #f95e5a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buymore {
  border: 1px solid #ececec;
  padding: 12px 14px 11px;
  line-height: 30px;
  font-size: 14px;
  background: #f8f8f8;
  color: #636363;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buymore p {
  overflow: hidden;
  white-space: nowrap;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buymore p a {
  color: #323232;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
}
.container .zworldcontainer .zworld .slide .slideitem .buytoday .buymore p a:hover {
  color: #10b041;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext {
  margin: 25px 0 0 25px;
  width: 370px;
  height: 160px;
  background: #fff;
  padding: 20px;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: show 0.5s ease-in-out 0s forwards;
          animation: show 0.5s ease-in-out 0s forwards;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyleft {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright {
  float: right;
  width: 190px;
  height: 120px;
  line-height: 24px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright h3 {
  height: 48px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .visa {
  margin-top: 6px;
  height: 24px;
  font-size: 14px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .visa .tag {
  float: left;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #10b041;
  padding: 0 6px;
  height: 22px;
  line-height: 22px;
  color: #10b041;
  font-size: 14px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .visa .time {
  float: right;
  color: #959595;
  font-size: 14px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .price {
  height: 24px;
  line-height: 24px;
  margin-top: 15px;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .price span {
  float: right;
  font-size: 18px;
  color: #959595;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a .buyright .price span em {
  font-style: normal;
  color: #ff7466;
  font-size: 28px;
  font-weight: 400;
}
.container .zworldcontainer .zworld .slide .slideitem .buynext > a:hover .buyright h3 {
  color: #10b041;
}
.container .zworldcontainer .zworld .slideindicator {
  margin-top: 30px;
  text-align: center;
}
.container .zworldcontainer .zworld .slideindicator span {
  border: 1px solid #fff;
  width: 28px;
  height: 7px;
  display: inline-block;
  background: transparent;
  margin: 0 5px;
}
.container .zworldcontainer .zworld .slideindicator span.active {
  background: #fff;
}
.container .zworldcontainer .zworld .morebtn {
  margin-top: 30px;
  text-align: center;
}
.container .zworldcontainer .zworld .morebtn a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ececec;
  width: 220px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  text-align: center;
  font-size: 20px;
  color: #636363;
  vertical-align: top;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container .hottravelcontainer {
  width: 1160px;
  margin: 0 auto;
  margin-top: 50px;
}
.container .hottravelcontainer .traveltitle {
  height: 74px;
  line-height: 74px;
  font-size: 36px !important;
  color: #636363;
  text-align: center;
  font-weight: 500;
}
.container .hottravelcontainer .hottravel .travelitem {
  display: none;
  margin-left: -20px;
}
.container .hottravelcontainer .hottravel .travelitem li {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 275px;
  height: 290px;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: show 0.5s ease-in-out 0s forwards;
          animation: show 0.5s ease-in-out 0s forwards;
}
.container .hottravelcontainer .hottravel .travelitem li > a .travelimg {
  position: relative;
  width: 275px;
  height: 185px;
  line-height: 185px;
  overflow: hidden;
}
.container .hottravelcontainer .hottravel .travelitem li > a .travelimg img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.container .hottravelcontainer .hottravel .travelitem li > a .travelimg img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.container .hottravelcontainer .hottravel .travelitem li > a .travelimg > p {
  position: absolute;
  right: 10px;
  bottom: -80px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  padding-left: 26px;
  font-size: 14px;
}
.container .hottravelcontainer .hottravel .travelitem li > a .travelimg > p i {
  vertical-align: middle;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt {
  border: 1px solid #ececec;
  border-top: 0;
  padding: 0 15px;
  height: 104px;
  border-color: #d7d7d7;
  position: relative;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt > p {
  display: inline-block;
  padding-left: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #636363;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt > p span {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  margin-top: 3px;
  background: url(../images/index/auth_avatar_q.png);
  background-position: 0 0;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt > p:hover {
  color: #10b041;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt h3 {
  padding-top: 12px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 24px;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt h3:hover {
  color: #10b041;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt .cir {
  position: absolute;
  top: -30px;
  left: 20px;
  /* margin-top: -25px; */
  width: 56px;
  height: 56px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt .cir span {
  display: block;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.container .hottravelcontainer .hottravel .travelitem li > a .txt .cir span img {
  width: 100%;
  height: 100%;
}
.container .hottravelcontainer .travelindicator {
  margin-top: 30px;
  text-align: center;
}
.container .hottravelcontainer .travelindicator span {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 7px;
  background: #d7d7d7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.container .hottravelcontainer .travelindicator span:hover,
.container .hottravelcontainer .travelindicator span.active {
  background: #1ab05f;
}
.container .hottravelcontainer .morebtn {
  margin-top: 30px;
  text-align: center;
}
.container .hottravelcontainer .morebtn a {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ececec;
  width: 220px;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  background: #fff;
  text-align: center;
  font-size: 20px;
  color: #636363;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container .freedomcontainer {
  border: 1px solid #ececec;
  border-width: 1px 0;
  background: #f5f5f5;
  padding: 20px 0;
  margin-top: 50px;
}
.container .freedomcontainer .freedom {
  width: 1160px;
  margin: 0 auto;
}
.container .freedomcontainer .freedom .freedom1 {
  float: left;
  width: 765px;
}
.container .freedomcontainer .freedom .freedom1 h2 {
  font-size: 30px;
  text-align: left;
  color: #636363;
  height: 74px;
  line-height: 74px;
  font-weight: 500;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left {
  float: left;
  background: #fff;
  padding-bottom: 20px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .image {
  width: 370px;
  height: 223px;
  position: relative;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .image img {
  width: 100%;
  height: 100%;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .image .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .image .timer {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .image .timer span {
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left h4 {
  padding: 12px 22px 0px;
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  color: #323232;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .txt {
  padding: 14px 22px 0px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .txt .txtleft {
  float: left;
  width: 156px;
  overflow: hidden;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .txt .txtleft p {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #c4c4c4;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .txt .txtleft .txt1 {
  color: #fe7369;
}
.container .freedomcontainer .freedom .freedom1 .freedom1left .txt .btnright {
  float: right;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: Hiragino Sans GB, Microsoft YaHei, SimHei, SimSun, sans-serif;
  font-weight: 700;
  color: #fff;
  background: #fd756a;
  text-align: center;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right {
  float: right;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .image {
  width: 370px;
  height: 125px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .image img {
  width: 100%;
  height: 100%;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt {
  background: #fff;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt img {
  float: left;
  width: 170px;
  height: 124px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt .txt {
  float: right;
  width: 200px;
  padding: 12px 22px 0;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt .txt h4 {
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  color: #323232;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt .txt .ptxt {
  margin-top: 14px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt .txt .ptxt p {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #c4c4c4;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .imgtxt .txt .ptxt .txt1 {
  color: #fe7369;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .photo {
  position: relative;
  margin-top: 25px;
  height: 66px;
  background: #fff;
  overflow: hidden;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .photo h4 {
  float: left;
  padding: 13px;
  width: 66px;
  height: 66px;
  font-size: 18px;
  font-weight: 500;
  color: #787878;
  text-align: center;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .photo ul {
  position: relative;
  overflow: hidden;
  width: 305px;
  height: 66px;
  /* padding: 13px 0; */
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .photo ul li {
  float: left;
  padding: 13px 10px;
}
.container .freedomcontainer .freedom .freedom1 .freedom1right .photo ul li img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  vertical-align: middle;
}
.container .freedomcontainer .freedom .freedom2 {
  float: right;
  width: 370px;
}
.container .freedomcontainer .freedom .freedom2 .title {
  text-align: left;
  font-size: 28px;
  height: 74px;
  line-height: 74px;
  font-weight: 500;
  color: #636363;
}
.container .freedomcontainer .freedom .freedom2 .title a {
  float: right;
  margin-top: 26px;
  width: 80px;
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background: #10b041;
  font-size: 14px;
}
.container .freedomcontainer .freedom .freedom2 .content {
  overflow: hidden;
  width: 100%;
  height: 340px;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info {
  margin-bottom: 20px;
  width: 370px;
  height: 160px;
  border: 1px solid #ececec;
  padding: 15px;
  background: #fff;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .image {
  position: relative;
  float: left;
  padding: 4px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ececec;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .image span {
  width: 52px;
  height: 52px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .image span img {
  width: 100%;
  height: 100%;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt {
  float: right;
  width: 258px;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt > p {
  overflow: hidden;
  white-space: nowrap;
  color: #959595;
  font-size: 14px;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt > p span {
  color: #323232;
  font-size: 16px;
  display: inline-block;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt ul {
  margin-top: 10px;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt ul li {
  float: left;
  height: 24px;
  width: 24px;
  font-size: 24px;
  color: #ececec;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt ul li.active {
  color: #5cad77;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt .desc {
  position: relative;
  margin-top: 10px;
  max-height: 60px;
  line-height: 20px;
  font-size: 14px;
  color: #636363;
  overflow: hidden;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt .desc p {
  line-height: 20px;
  height: 60px;
  font-size: 14px;
  color: #636363;
}
.container .freedomcontainer .freedom .freedom2 .content .contentshow .info .txt .desc span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background: #fff;
  box-shadow: -10px 0 10px rgba(255, 255, 255, 0.9);
  color: #10b041;
  cursor: pointer;
}
.container .application {
  width: 1160px;
  margin: 50px auto;
}
.container .application .apps {
  float: left;
}
.container .application .wechat {
  float: right;
}
.container .application .apps h2,
.container .application .wechat h2 {
  float: left;
  font-size: 28px;
  line-height: 100px;
  height: 74px;
  width: 110px;
  color: #636363;
  text-align: center;
  font-weight: 500;
}
.container .application .apps ul,
.container .application .wechat ul {
  float: right;
  width: 440px;
}
.container .application .apps ul li,
.container .application .wechat ul li {
  float: left;
  margin-left: 30px;
  text-align: center;
}
.container .application .apps ul li a img,
.container .application .wechat ul li a img {
  width: 80px;
  height: 80px;
}
.container .application .apps ul li p,
.container .application .wechat ul li p {
  margin-top: 8px;
  font-size: 14px;
  color: #636363;
}
