.login-container {
  width: 100%;
  height: 100%;
  background: url(../images/login/web_login_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.login-container .bgtp {
  margin: 0 auto;
  padding: 60px 0;
  width: 380px;
}
.login-container .bgtp img {
  width: 127px;
  height: 46px;
  float: left;
  margin-left: 85px;
}
.login-container .bgtp span {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  float: left;
  margin-top: 10px;
}
.login-container .formBox {
  width: 100%;
  background-color: #fff;
  margin-top: 100px;
  padding: 10px 0 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #f1f1f2;
  background: rgba(255, 255, 255, 0.95);
}
.login-container .formBox .content {
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  width: 330px;
  color: #959595;
}
.login-container .formBox .content .Title {
  border-bottom: 1px solid #e8e8e8;
  height: 59px;
  line-height: 59px;
}
.login-container .formBox .content .Title .titleLeft {
  cursor: pointer;
  border-bottom: 2px solid #10b041;
  height: 58px;
  color: #3f9f5f;
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
.login-container .formBox .content .form {
  margin-top: 20px;
}
.login-container .formBox .content .form .mail,
.login-container .formBox .content .form .pwd {
  margin: 10px 0px;
  width: 100%;
  height: 46px;
  padding: 10px 5px;
  border-color: #d7d7d7;
}
.login-container .formBox .content .form .mailP1,
.login-container .formBox .content .form .mailP2 {
  height: 30px;
}
.login-container .formBox .content .form .mailP1 span,
.login-container .formBox .content .form .mailP2 span {
  color: red;
  font-size: 12px;
  display: none;
}
.login-container .formBox .content .form .forgetPwd {
  margin-bottom: 20px;
  width: 100%;
  height: 25px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
.login-container .formBox .content .form .forgetPwd a {
  margin-left: 260px;
}
.login-container .formBox .content .form .loginBtn {
  cursor: pointer;
  height: 70px;
  background-color: lightgray;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}
.login-container .formBox .content .form .fl {
  margin-top: 20px;
}
.login-container .formBox .content .form .fl .remember {
  vertical-align: middle;
}
.login-container .formBox .content .form .fl label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.18);
}
.login-container .formBox .content .logoes {
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
}
.login-container .formBox .content .logoes .tp {
  width: 100%;
}
.login-container .formBox .content .logoes .tp a {
  display: inline-block;
  margin: 0 12px;
  width: 40px;
  height: 40px;
  background: url('../images/login/posImg.png') no-repeat;
}
.login-container .formBox .content .logoes .tp a.a1 {
  background-position: 0 0;
}
.login-container .formBox .content .logoes .tp a.a1:hover {
  background-position: 0 -38px;
}
.login-container .formBox .content .logoes .tp a.a2 {
  background-position: -40px 0;
}
.login-container .formBox .content .logoes .tp a.a2:hover {
  background-position: -40px -38px;
}
.login-container .formBox .content .logoes .tp a.a3 {
  background-position: -80px 0;
}
.login-container .formBox .content .logoes .tp a.a3:hover {
  background-position: -80px -38px;
}
.login-container .formBox .content .logoes .tp a.a4 {
  background-position: -120px 0;
}
.login-container .formBox .content .logoes .tp a.a4:hover {
  background-position: -120px -38px;
}
.login-container .formBox .content .bottom a {
  color: #959595;
  text-decoration: none;
}
.login-container .formBox .content .bottom a.register {
  margin-left: 30px;
  color: #3f9f5f;
  margin-left: 75px;
}
