.silkbag-container {
  width: 100%;
}
.silkbag-container .head {
  width: 960px;
  margin: 0px auto;
  font-size: 12px;
  color: #636363;
  line-height: 54px;
}
.silkbag-container .content {
  width: 960px;
  margin: 0px auto;
}
.silkbag-container .content .gui {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.silkbag-container .content .gui img {
  width: 100%;
}
.silkbag-container .content .gui input {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 268px;
  height: 32px;
  border-radius: 5px;
  border: none;
  padding: 0px 10px 0px 35px;
  background: #fff url('../images/silkbag/search.png') 10px 10px no-repeat;
  background-size: 15px 15px;
}
.silkbag-container .content .area-box nav {
  float: left;
  width: 200px;
  background-color: #333;
  position: relative;
}
.silkbag-container .content .area-box nav .nav-list > li {
  border-bottom: 1px solid #fff;
  padding: 6px 16px 6px 20px;
  color: #636363;
  background-color: #f6f6f6;
}
.silkbag-container .content .area-box nav .nav-list > li:hover > .area-info {
  display: block;
}
.silkbag-container .content .area-box nav .nav-list > li .area {
  font-size: 16px;
  color: #535353;
  line-height: 20px;
}
.silkbag-container .content .area-box nav .nav-list > li .num {
  display: block;
  float: right;
  width: 37px;
  border-radius: 7px;
  background-color: #cecece;
  color: #fff;
  text-align: center;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info {
  display: none;
  max-width: 700px;
  overflow: hidden;
  position: absolute;
  left: 201px;
  top: 30px;
  z-index: 10;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .area-list {
  background-color: #fff;
  width: 1750px;
  height: 320px;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .area-list > li {
  float: left;
  display: inline;
  width: 174px;
  height: 305px;
  padding-top: 15px;
  border-right: 1px dotted #ccc;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .area-list > li > h4 {
  padding-left: 20px;
  font-size: 12px;
  color: #999;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .area-list > li > ul > li {
  font-size: 12px;
  padding-left: 35px;
  color: #0073b6;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .area-list > li > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .btn-group {
  position: absolute;
  top: 280px;
  right: 10px;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .btn-group > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/silkbag/btn-sprite.png) no-repeat;
  background-color: #ccc;
  margin-left: 10px;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .btn-group > span:hover {
  background-color: #4e8a33;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .btn-group > span.pre {
  background-position: 9px 8px;
}
.silkbag-container .content .area-box nav .nav-list > li .area-info .btn-group > span.next {
  background-position: -19px 8px;
  background-color: #636363;
}
.silkbag-container .content .area-box .slide-box {
  width: 750px;
  overflow: hidden;
  float: right;
  position: relative;
  min-width: 174px;
  background-color: #fff;
  z-index: 1;
}
.silkbag-container .content .area-box .slide-box .slide {
  width: 1500px;
  margin-left: 0px;
}
.silkbag-container .content .area-box .slide-box .slide > li {
  float: left;
}
.silkbag-container .content .area-box .slide-box .slide > li img {
  width: 750px;
}
.silkbag-container .content .area-box .slide-box .liList {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.silkbag-container .content .area-box .slide-box .liList > li {
  float: left;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 8px;
}
.silkbag-container .content .area-box .slide-box .liList > li.active {
  background-color: #f00;
}
.silkbag-container .content .ad {
  width: 100%;
  height: 100px;
  margin: 30px 0px;
}
.silkbag-container .content .ad > a {
  display: block;
}
.silkbag-container .content .ad > a img {
  width: 100%;
}
.silkbag-container .content .recommend {
  width: 100%;
  margin-bottom: 30px;
}
.silkbag-container .content .recommend > h3 {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #636363;
}
.silkbag-container .content .recommend .img-show {
  background-color: #f6f6f6;
}
.silkbag-container .content .recommend .img-show > li {
  float: left;
  width: 160px;
  padding: 15px 25px;
  border-left: 1px dotted #ccc;
}
.silkbag-container .content .recommend .img-show > li:first-child {
  border: none;
}
.silkbag-container .content .recommend .img-show > li > a {
  position: relative;
  padding: 3px;
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}
.silkbag-container .content .recommend .img-show > li > a img {
  width: 100%;
}
.silkbag-container .content .recommend .img-show > li > a .new {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 36px;
  height: 36px;
  background: url(../images/silkbag/new.png) no-repeat;
}
.silkbag-container .content .recommend .img-show > li > p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.silkbag-container .content .recommend .img-show > li > p a {
  color: #0073b6;
  font-size: 13px;
  line-height: 28px;
}
.silkbag-container .content .recommend .img-show > li > button {
  width: 100%;
  height: 24px;
  background-color: #3ba5e2;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.silkbag-container .content .download {
  margin-bottom: 50px;
}
.silkbag-container .content .download .download-left {
  float: left;
  width: 270px;
}
.silkbag-container .content .download .download-left h3 {
  line-height: 34px;
  font-weight: bold;
  font-size: 14px;
  color: #636363;
}
.silkbag-container .content .download .download-left .download-list {
  height: 270px;
  overflow: hidden;
}
.silkbag-container .content .download .download-left .download-list .move-box {
  height: 540px;
}
.silkbag-container .content .download .download-left .download-list .move-box > li {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.silkbag-container .content .download .download-left .download-list .move-box > li img {
  float: left;
  width: 24px;
  height: 24px;
}
.silkbag-container .content .download .download-left .download-list .move-box > li > div {
  float: left;
  padding-left: 6px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
.silkbag-container .content .download .download-left .download-list .move-box > li > div span {
  color: #666;
}
.silkbag-container .content .download .download-left .download-list .move-box > li > div a {
  color: #0073b6;
}
.silkbag-container .content .download .download-left > div {
  width: 270px;
  margin: 30px 0px;
}
.silkbag-container .content .download .download-left > div img {
  width: 100%;
}
.silkbag-container .content .download .download-right {
  float: right;
  width: 670px;
}
.silkbag-container .content .download .download-right > h3 {
  line-height: 34px;
  font-weight: bold;
  font-size: 14px;
  color: #636363;
}
.silkbag-container .content .download .download-right .tab {
  margin-bottom: 15px;
}
.silkbag-container .content .download .download-right .tab > a {
  color: #0073b6;
  font-size: 12px;
}
.silkbag-container .content .download .download-right .tab > a:hover {
  text-decoration: underline;
}
.silkbag-container .content .download .download-right .tab > a.active {
  color: #636363;
  font-weight: bold;
}
.silkbag-container .content .download .download-right .tab > span {
  font-size: 12px;
  color: #636363;
  padding: 0px 8px;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li {
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 17px;
  margin-bottom: 20px;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list {
  margin-left: -30px;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li {
  float: left;
  width: 108px;
  margin-left: 30px;
  position: relative;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .show-img {
  padding: 3px;
  background-color: #fff;
  display: block;
  border: 1px solid #ccc;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .show-img:hover > .mask {
  display: block;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .show-img img {
  width: 100%;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .show-img .new {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 36px;
  height: 36px;
  background: url(../images/silkbag/new.png) no-repeat;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .show-img .mask {
  display: none;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 102px;
  height: 152px;
  background-color: #000;
  opacity: 0.5;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .name {
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .name a {
  color: #0073b6;
}
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .place,
.silkbag-container .content .download .download-right .tab-content .tab-content-box > li .tab-content-list > li .date {
  font-size: 12px;
  color: #636363;
}
.silkbag-container .content .download .download-right .tab-content #pagination {
  text-align: right;
}
.silkbag-container .content .download .download-right .tab-content #pagination a {
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  color: #636363;
}
.silkbag-container .content .download .download-right .tab-content #pagination span.active {
  padding: 0 6px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 24px;
  background: #5ea67c;
  border-radius: 3px;
  font-weight: 700;
  color: #fff;
}
.silkbag-container .foot-txt {
  font-size: 10px;
  text-align: center;
  color: #323232;
}
