<div class="footer-content">
	<nav>
		<ul class="clear">
			<li class="brief"><a href="#">穷游简介</a></li>
			<li><a href="#">合作伙伴</a></li>
			<li><a href="#">加入我们</a></li>
			<li><a href="#">新手上路</a></li>
			<li><a href="#">使用帮助</a></li>
			<li><a href="#">网站地图</a></li>
			<li><a href="#">会员条款</a></li>
			<li><a href="#">社区指南</a></li>
			<li><a href="#">版权声明</a></li>
			<li><a href="#">免责声明</a></li>
			<li><a href="#">联系我们</a></li>
		</ul>
	</nav>
	<p>2004-2016 © 穷游网®  qyer.com All rights reserved. Version v5.57  京ICP备12003524号  京公网安备11010102001935号  京ICP证140673号</p>
	<div class="footer-link clear">
		<h4>友情链接</h4>
		<ul class="clear">
			<li><a href="#">余味全球美食</a><span>|</span></li>
			<li><a href="#">旅游攻略</a><span>|</span></li>
			<li><a href="#">中国国家地理</a><span>|</span></li>
			<li><a href="#">台湾自由行</a><span>|</span></li>
			<li><a href="#">美国旅游</a><span>|</span></li>
			<li><a href="#">出境旅游</a><span>|</span></li>
			<li><a href="#">北京旅游网</a></li>
		</ul>
	</div>
</div>