<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>旅游生活美学</title>
    <link rel="stylesheet" type="text/css" href="../dest/travelLift.css">
    <link rel="stylesheet" type="text/css" href="../dest/global.css">
</head>

<body>
    <!-- floor1 -->
    <div class="floor1">
        <div class="container1">
	        <a href="#" title=""><img src="../images/travelLift/logo.png" alt=""></a>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">TRAVEL</a></li>
                <li><a href="#">LEFT</a></li>
                <li><a href="#">AESTHETICS</a></li>
            </ul>
            <img class="dingw1" style="display: block;" src="../images/travelLift/dingw.png" alt="">
            <img class="dingw2" src="../images/travelLift/dingw.png" alt="">
            <img class="dingw3" src="../images/travelLift/dingw.png" alt="">
            <img class="dingw4" src="../images/travelLift/dingw.png" alt="">
            <img class="dingw5" src="../images/travelLift/dingw.png" alt="">
        </div>
    </div>
    <!-- f2轮播 -->
    <div class="floor2">
        <div class="f2div1 clear">
            <img src="../images/travelLift/f2_1.jpg">
            <img src="../images/travelLift/f2_2.jpg">
        </div>
        <ul class="f2ul clear">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- f3 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>SPECIAL FEATURED</p>
                    <P>TRAIN TRAVEL</P>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <!-- 图片 -->
            <div class="tpq clear">
                <div>
                    <a href="#"><img src="../images/travelLift/f3_1.jpg" alt=""></a>
                </div>
                <div>
                    <a href="#"><img src="../images/travelLift/f3_2.jpg" alt=""></a>
                    <a href="#"><img src="../images/travelLift/f3_3.jpg" alt=""></a>
                </div>
                <div class=" hf clear">
                    <a class="imgf13" href="#"><img src="../images/travelLift/f3_4.jpg" alt=""></a>
                    <a href="#"><img src="../images/travelLift/f3_5.jpg" alt=""></a>
                    <a class="imgf13" href="#"><img src="../images/travelLift/f3_6.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- floor4 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>RECOMMENDED</p>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <div class="f3boxx">
	            <div class="first1"><a href="#"><img src="../images/travelLift/f4_1.jpg" ></a></div>
	            <div class="first2 clear">
	            	<a href="#"><img src="../images/travelLift/f4_2_1.jpg" ><h5>马卡龙简约斜挎包 RMB 238元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_2_2.jpg" ><h5>穷游第一套实体锦囊 RMB 128元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_2_3.jpg" ><h5>穷游第一款纪念旅行箱 RMB 1398元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_2_4.jpg" ><h5>星期五单肩斜挎包 RMB 188元</h5></a>
	            </div>
	            <div class="first3 clear">
	            	<a href="#"><img src="../images/travelLift/f4_3_1.jpg" ><h5>东京35L超大容量折叠包 RMB 88元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_3_2.jpg" ><h5>水果胶囊旅行收纳袋 RMB 28元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_3_3.jpg" ><h5>双USB全球旅行通用转换插座 RMB 148元</h5></a>
	            	<a href="#"><img src="../images/travelLift/f4_3_4.jpg" ><h5>日本浮世绘手机壳 RMB 49元</h5></a>
	            </div>
	            <ul class="f4ul clear">
	            	<li class="active"></li>
	            	<li></li>
	            	<li></li>
	            </ul>

            </div>
        </div>
    </div>
    <!-- floor5 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>TRAVEL </p>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <!-- 图片 -->
            <div class="tpq1">
                <a href="#"><img src="../images/travelLift/f5_1.jpg" alt=""></a>
                <a href="#"><img src="../images/travelLift/f5_2.jpg" alt=""></a>
                <a href="#"><img src="../images/travelLift/f5_3.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <!-- floor6 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>LIFE</p>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <div class="tpq6 clear">
                <div>
                    <a href="#"><img src="../images/travelLift/f6_1.png" alt=""></a>
                </div>
                <div>
                    <a class="a1" href="#"><img src="../images/travelLift/f6_2.jpg" alt=""></a>
                    <a class="a2" href="#"><img src="../images/travelLift/f6_3.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- floor7 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>AESTHETICS</p>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <div class="tpq1_7 clear">
                <a href="#"><img src="../images/travelLift/f7_1.jpg" alt=""></a>
                <a href="#"><img src="../images/travelLift/f7_2.jpg" alt=""></a>
                <a href="#"><img src="../images/travelLift/f7_3.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <!-- floor8 -->
    <div class="floor3">
        <div class="container2">
            <div class="f3top clear">
                <div class="width">
                    <div class="line"></div>
                </div>
                <div class="width">
                    <p>JNE Gallery</p>
                </div>
                <div class="width">
                    <div class="line"></div>
                </div>
            </div>
            <div class="tpq1_8 clear">
                <a href="#"><img src="../images/travelLift/f8_1.jpg">
                    <p>CAFE</p>
                </a>
                <a href="#"><img src="../images/travelLift/f8_2.jpg">
                    <P>ATORE</P>
                </a>
                <a href="#"><img src="../images/travelLift/f8_3.jpg">
                    <P>SALON</P>
                </a>
            </div>
        </div>
    </div>
    <!-- floor9 -->
    <div class="floor9 ">
        <div class="container2">
            <div class="f3top clear">
                <div class="width width1">
                    <a href="#">About Us</a>
                    <a href="#">Join Us</a>
                    <a href="#">contact Us</a>
                </div>
                <div class="width width2">
                    <a href="#"><img src="../images/travelLift/f9logo.png" ></a>
                </div>
                <div class="width width3">
                    <a href="#"><img src="../images/travelLift/f9ewm.jpg" ></a>
                </div>
           </div>
         </div>
    </div>
</body>
<script src='../bower_components/jquery/dist/jquery.js'></script>
<script src='../bower_components/underscore/underscore.js'></script>
<script src='../jquery/travelLift.js'></script>

</html>
