.secure-container .secure-content {
  width: 960px;
  margin: 0px auto;
}
.secure-container .secure-content .catalog {
  font-size: 12px;
  line-height: 54px;
}
.secure-container .secure-content .catalog > a {
  font-weight: bold;
  color: #0073b6;
}
.secure-container .secure-content .catalog > span {
  color: #636363;
}
.secure-container .secure-content .title {
  background-color: #f5f4f0;
  height: 74px;
  margin-bottom: 20px;
}
.secure-container .secure-content .title > h2 {
  float: left;
  padding-right: 20px;
  line-height: 74px;
  font-size: 38px;
  color: #077345;
  padding-left: 10px;
}
.secure-container .secure-content .title > span {
  float: left;
  width: 710px;
  padding: 23px 20px 0 10px;
  font-size: 12px;
  color: #323232;
}
.secure-container .secure-content .content-left {
  width: 670px;
  float: left;
}
.secure-container .secure-content .content-left .hot-secure h4 {
  line-height: 30px;
  color: #636363;
  font-weight: bold;
}
.secure-container .secure-content .content-left .hot-secure .hot-imgList {
  margin-left: -10px;
}
.secure-container .secure-content .content-left .hot-secure .hot-imgList > a {
  display: inline-block;
  width: 210px;
  margin-left: 10px;
}
.secure-container .secure-content .content-left .hot-secure .hot-imgList > a > img {
  width: 100%;
}
.secure-container .secure-content .content-left .choice-secure h4 {
  line-height: 30px;
  color: #636363;
  font-weight: bold;
}
.secure-container .secure-content .content-left .choice-secure .choice-list {
  background-color: #f5f4f0;
  padding: 10px 10px 20px;
}
.secure-container .secure-content .content-left .choice-secure .choice-list label {
  float: left;
  width: 85px;
  text-align: right;
  line-height: 26px;
  color: #636363;
  font-weight: bold;
  font-size: 12px;
}
.secure-container .secure-content .content-left .choice-secure .choice-list .list {
  float: left;
  width: 540px;
}
.secure-container .secure-content .content-left .choice-secure .choice-list .list > a {
  font-size: 12px;
  color: #0073b6;
  padding: 2px 3px;
  margin-right: 20px;
}
.secure-container .secure-content .content-left .choice-secure .choice-list .list > a:hover {
  text-decoration: underline;
}
.secure-container .secure-content .content-left .choice-secure .choice-list .list > a.active {
  background-color: #4598d2;
  color: white;
}
.secure-container .secure-content .content-left .product-list .list-title {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
  margin-top: 15px;
}
.secure-container .secure-content .content-left .product-list .list-title .sort {
  float: left;
}
.secure-container .secure-content .content-left .product-list .list-title .sort span {
  font-size: 12px;
  line-height: 18px;
  color: #323232;
}
.secure-container .secure-content .content-left .product-list .list-title .sort a {
  font-size: 12px;
  color: #0073b6;
  line-height: 18px;
}
.secure-container .secure-content .content-left .product-list .list-title .sort a:hover {
  text-decoration: underline;
}
.secure-container .secure-content .content-left .product-list .list-title .sort a.active {
  color: #636363;
  font-weight: bold;
}
.secure-container .secure-content .content-left .product-list .list-title .result {
  float: right;
  color: #323232;
  font-size: 12px;
  line-height: 18px;
}
.secure-container .secure-content .content-left .product-list .list-content > li {
  padding: 15px 0px;
  border-bottom: 1px dashed #e2e2e2;
}
.secure-container .secure-content .content-left .product-list .list-content > li > a {
  display: block;
  width: 80px;
  float: left;
  border: 1px solid #dbdbdb;
  margin-right: 15px;
}
.secure-container .secure-content .content-left .product-list .list-content > li > a > img {
  width: 100%;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info {
  float: left;
  width: 575px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-txt {
  width: 450px;
  overflow: hidden;
  float: left;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-txt > h4 > a {
  color: #0073b6;
  font-weight: bold;
  margin-bottom: 5px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-txt > h4 > a:hover {
  text-decoration: underline;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-txt > p {
  max-height: 72px;
  line-height: 24px;
  font-size: 12px;
  color: #636363;
  overflow: hidden;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money {
  width: 120px;
  float: right;
  text-align: right;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money > p .mark {
  font-size: 18px;
  color: #087346;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money > p .number {
  font-size: 30px;
  color: #087346;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money > p .currency {
  font-size: 12px;
  color: #636363;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money button {
  height: 28px;
  background-color: #147850;
  padding: 0px 12px;
  color: #fff;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .info-money button:hover {
  background-color: #5fa678;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .sum-money {
  float: left;
  width: 155px;
  margin-right: 60px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .sum-money > li > span {
  line-height: 20px;
  font-size: 12px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .sum-money > li > span.money {
  float: right;
  text-align: right;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .type {
  float: left;
  width: 220px;
}
.secure-container .secure-content .content-left .product-list .list-content > li .pro-info .type > li {
  font-size: 12px;
  line-height: 20px;
  padding-left: 20px;
  background: url(../images/secure/right.png) 3px no-repeat;
}
.secure-container .secure-content .content-right {
  margin-left: 20px;
  width: 270px;
  float: left;
}
.secure-container .secure-content .content-right img {
  padding-top: 30px;
}
.secure-container .secure-content .content-right .flow {
  padding-top: 30px;
}
.secure-container .secure-content .content-right .flow h4 {
  line-height: 30px;
  font-weight: bold;
  color: #636363;
}
.secure-container .secure-content .content-right .flow > img {
  padding-top: 0px;
}
