.hotel-con{
	width:1160px;
	margin:0 auto;
}


#hf-header{
	width:100%;
	height:500px;
	position:relative;
	img{
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
	}
	
	.hf-header-shou{
		width:660px;
		height:220px;
		position:absolute;
		top:158px;
		left:345px;
		.hf-header-p1{
			font-size:34px;
			color:white;
			font-weight:bold;	
			text-align:center;	
		}
		.hf-header-p2{
			margin-top:16px;
			font-size:14px;
			color:white;
			font-weight:bold;
			text-align:center;
			margin-bottom:49px;
			font-family: "宋体";
		}
		.hf-input{
			input:nth-child(1){
				float:left;
				width:220px;
				height:26px;
				padding:20px;
				font-size:14px;
				border:none;
			}
			input:nth-child(2){
				width:145px;
				height:40px;
				padding:10px;
				font-size:12px;
				float:left;
				border:none;
				border-left:1px solid lightgray;
			}
			input:nth-child(3){
				width:145px;
				height:40px;
				padding:10px;
				font-size:12px;
				float:left;
				border:none;
				border-left:1px solid lightgray;
			}
			input:nth-child(4){
				width:143px;
				height:40px;
				float:left;
				text-align:center;
				line-height:40px;
				font-size:16px;
				color:white;
				background-color:#ffac33;
				border:none;
			}		
		}
		.hf-header-p3{						
				text-align:center;
				margin-top:20px;
				a{
					font-size:14px;
					font-weight:bold;
					color:white;
				}
		}
	}
}
.hf-hotel-content{
	padding-top:40px;
	padding-bottom:180px;
	>h1{
		font-size:34px;
		color:black;
		font-weight:bold;	
		text-align:center;	
	}
	>p{
		font-size:14px;
		color:#6d6d6d;
		margin-top:10px;	
		text-align:center;	
	}
	.hf-hotel-tu{
		margin-top:40px;
		margin-left:-40px;
		
		div{
			margin-top:40px;
			float:left;
			margin-left:40px;
			width:360px;
			height:300px;
			position:relative;
			cursor:pointer;
			img{
				position:relative;
				top:0px;
				left:0px;
				width:360px;
				height:300px;
				
			}
			.hf-tu-p1{
				position:absolute;
				top: 120px;
    			left: 150px;
				font-size:34px;
				color:white;
				font-weight:bold;	
									
			}
			.hf-tu-p2{
				position:absolute;
				top: 160px;
    			left: 150px;
				font-size:16px;
				color:white;
				font-weight:bold;
				text-align:center;
				
			}

		}
		div:hover{
			animation:hf_hf_hf 0.5s 0.2s forwards;
			box-shadow: 0px  10px 20px #888888;

		}
		
	}
}
.hf-hothotel{
	padding-top:50px;
	padding-bottom:40px;
	border-top:1px solid lightgray;
	p{
		float:left;
		font-size:14px;
		color:black;
		line-height:44px;
		
	}
	ul{
		float:right;
		width:998px;
		li{
			font-size:14px;
			color:#636363;
			width:100px;
			height:44px;
			float:left;
			line-height:44px;

		}

	}
}
.hf-hotcity{
	padding-top:50px;
	padding-bottom:40px;
	border-top:1px solid lightgray;
	p{
		float:left;
		font-size:14px;
		color:black;
		line-height:44px;

	}
	ul{
		float:right;
		width:998px;
		li{
			font-size:14px;
			color:#636363;
			width:100px;
			height:44px;
			float:left;
			line-height:44px;

		}
	}
	

}

.hf-container{
	width:1160px;
	margin:0px auto;
}
.hf-bigWorld-footer{
	background-color: #f5f5f5;
	padding-top:40px;
	padding-bottom:40px;
	>div{
		color:#dfe3e8;
		text-align:center;

		a{			
			font-size:22px;
			color:#575757;
		}
		a:hover{
			color:#11af81;
		}
	}

	>ul{	
		margin-top:60px;	
		>li{
			width:350px;
			margin-left:35px;	
			float:left;
			img{
				float:left
			}
			div{
				float:left;
				margin-left:10px;
				width:277px;

				>p:first-child{

					font-size:16px;
					color:black;
				}
				>p:last-child{
					margin-top:5px;
					font-size:12px;
					color:gray;
				}
			}
		}
	}

}

@keyframes hf_hf_hf{			
			to{transform:translate(0,-20px)};
		}




