<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../dest/global.css">
    <link rel="stylesheet" href="../dest/bigworld.css">
    <!-- <script src="../bower_components/underscore/underscore.js"></script> -->
    <script type="text/javascript" src = '../global.js'></script>
</head>

<body>
    
    <header id="header" ></header>

    <div class="hf-header">
        <div class="hf-container clear">
            <img class="hf-logo1" src="../images/bigworld/logo1.png" alt="">
            <div class="hf-header-input clear">
                <input type="" name="" placeholder="搜索国家、城市、产品">
                <p></p>
                <input type="" name="" value="搜索">
            </div>
        </div>
        <img class="hf-logo2" src="../images/bigworld/logo2.png" alt="">
    </div>
    <!-- nav -->
    <ul class="hf-nav hf-container clear">
        <li><a style="color:#00b081;" href="#" title="">首页</a></li>
        <li><a href="#" title="">机酒自由行</a></li>
        <li><a href="#" title="">城市玩乐</a> </li>
        <li><a href="#" title="">签证</a></li>
        <li><a href="#" title="">租车自驾</a></li>
        <li><a href="#" title="">邮轮</a></li>
        <li><a href="#" title="">海岛游</a></li>
        <li><a href="#" title="">限时特卖</a></li>
        <li><a href="#" title="">特色路线</a></li>
        <li><a href="#" title="">CityWork</a></li>
        <img src="../images/bigworld/wanletag.gif" alt="">
    </ul>
    <div class="hf-lunbo">
        <div class="hf-niu1">
            < </div>
                <ul class="hf-lunbotu clear">
                    <li><img src="../images/bigworld/lunbo1.png" alt=""></li>
                    <li><img src="../images/bigworld/lunbo2.png" alt=""></li>
                    <li><img src="../images/bigworld/lunbo3.png" alt=""></li>
                </ul>
                <div class="hf-niu2"> > </div>
                <ul class="hf-cebian">
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe61c;</span>
                        <div class="hf-cebian-div">
                            <p>港澳台 国内</p>
                            <p>
                                <a href="javascript:;" title="">香港</a> 
                                <a href="javascript:;" title=""> 澳门</a> 
                                <a href="javascript:;" title="">台湾</a> 
                                <a href="javascript:;" title="">三亚</a> 
                                <a href="javascript:;" title="">长白山</a>                              
                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe603;</span>
                        <div class="hf-cebian-div">
                            <p>日本 韩国</p>
                            <p>
                                <a href="javascript:;" title="">东京</a> 
                                <a href="javascript:;" title="">大阪</a> 
                                <a href="javascript:;" title="">冲绳</a> 
                                <a href="javascript:;" title="">首尔</a> 
                                <a href="javascript:;" title="">济州岛</a>
                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe63f;</span>
                        <div class="hf-cebian-div">
                            <p>东南亚 南亚</p>
                            <p>
                                <a href="javascript:;" title="">普吉</a> 
                                <a href="javascript:;" title="">清迈</a> 
                                <a href="javascript:;" title="">沙巴</a> 
                                <a href="javascript:;" title="">巴厘岛</a> 
                                <a href="javascript:;" title="">马尔代夫</a>

                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe633;</span>
                        <div class="hf-cebian-div">
                            <p>欧洲 美洲</p>
                            <p>
                                <a href="javascript:;" title="">北欧</a> 
                                <a href="javascript:;" title="">法国</a> 
                                <a href="javascript:;" title="">意大利</a> 
                                <a href="javascript:;" title="">美国 </a> 
                                <a href="javascript:;" title="">英国</a>

                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe60f;</span>
                        <div class="hf-cebian-div">
                            <p>澳新 中东非</p>
                            <p>
                                <a href="javascript:;" title="">悉尼</a> 
                                <a href="javascript:;" title="">新西兰</a> 
                                <a href="javascript:;" title="">迪拜</a> 
                                <a href="javascript:;" title="">帕劳 </a> 

                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe60e;</span>
                        <div class="hf-cebian-div">
                            <p>主题推荐</p>
                            <p>
                                <a href="javascript:;" title="">邮轮</a> 
                                <a href="javascript:;" title="">亲子</a> 
                                <a href="javascript:;" title="">情侣</a> 
                                <a href="javascript:;" title="">海岛游 </a> 
                                <a href="javascript:;" title="">购物</a>
                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                    <li class="clear">
                        <span class="hf-span1 iconfont">&#xe601;</span>
                        <div class="hf-cebian-div">
                            <p>出行必备</p>
                            <p>
                                <a href="javascript:;" title="">Wi-Fi</a> 
                                <a href="javascript:;" title="">电话卡</a> 
                                <a href="javascript:;" title="">接送机</a> 
                                <a href="javascript:;" title=""> 保险 </a> 
                            </p>
                        </div>
                        <span class="hf-span2"> > </span>
                    </li>
                </ul>
                <ul class="hf-anniu clear">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>

                <div class="hf-xuanka">
                    
                </div>
        </div>
        <div class="hf-4g hf-container clear">
            <a href="#" title=""><img src="../images/bigworld/lx1.png" alt=""></a>
            <a href="#" title=""><img src="../images/bigworld/lx2.png" alt=""></a>
            <a href="#" title=""><img src="../images/bigworld/lx3.png" alt=""></a>
            <a href="#" title=""><img src="../images/bigworld/lx4.png" alt=""></a>
        </div>
        <!-- 限时特卖 -->
        <div class="hf-xianshi">
            <div class=" hf-temai  hf-container">
                <div class="hf-temai-header   clear">
                    <h2>限时特卖</h2>
                    <span class="temai-span1">每日必看的特卖精选</span>
                    <span class="temai-span2">换一换</span>
                </div>
                <ul class="hf-temai-content clear">
                    
                </ul>
                <script id="hf-hotel-imgList" type='text/html'>
	                ##for(var i = 0;i<temai2.length;i++){## 
	                <li class="clear">
	                    <div class="hf-temai-div1">
	                        <img src="{{temai2[i].img}}" alt="">
	                    </div>
	                    <div class="hf-temai-div2">
	                        <p>{{temai2[i].span1}}</p>
	                        <div>
	                            <span>{{temai2[i].span2}}</span>元起
	                        </div>
	                    </div>
	                </li>
	                ##}##
                </script>
            </div>
        </div>

        <!-- 111 -->
        <div class="hf-freedom hf-container">
            <div class="hf-freedom-header  clear">
                <h1>机酒自由行</h1>
                <p>精选全球最优质机票、酒店、邮轮等旅行产品</p>
                <div class=" clear" id="hf-header-div">
                    <a href="#" title="">今日热卖</a>
                    <a href="#" title="">新品特惠</a>
                    <a href="#" title="">闪购</a>
                    <a href="#" title="">春节/寒假出行</a>
                    <a href="#" title="">超值机票</a>
                    <a href="#" title="">热门海盗</a>
                    <a href="#" title="">低价甩尾</a>
                </div>
            </div>
            <div class="hf-freedom-floor1 clear">
                
            </div>
            <script id="floor1" type='text/html'>
                   <div class="hf-freedom-floor1-zuo">
                        <img src="{{jijiu2.img1}}" alt="">
                        <div class="hf-jinri1 clear">
                            <p>{{jijiu2.p1}}</p>
                            <p><span>{{jijiu2.span1}}</span>元起</p>
                        </div>
                        <div class="hf-jinri11">
                            <p>{{jijiu2.j11}}</p>
                            <p>
                                <span>{{jijiu2.time1}}</span>
                            </p>
                        </div>
            		</div>
		            <div class="hf-floor1-you1">
		                <img src="{{jijiu2.img2}}" alt="">
		                <div class="hf-jinri2 clear">
		                    <p>{{jijiu2.p2}}</p>
		                    <p><span>{{jijiu2.span2}}</span>元起</p>
		                </div>
		                <div class="hf-jinri22">
		                    {{jijiu2.j22}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1">
		                <img src="{{jijiu2.img3}}" alt="">
		                <div class="hf-jinri2 clear">
		                    <p>{{jijiu2.p3}}</p>
		                    <p><span>{{jijiu2.span3}}</span>元起</p>
		                </div>
		                <div class="hf-jinri22">
		                    {{jijiu2.j33}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1">
		                <img src="{{jijiu2.img4}}" alt="">
		                <div class="hf-jinri2 clear">
		                    <p>{{jijiu2.p4}}</p>
		                    <p><span>{{jijiu2.span4}}</span>元起</p>
		                </div>
		                <div class="hf-jinri22">
		                    {{jijiu2.j44}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1">
		                <img src="{{jijiu2.img5}}" alt="">
		                <div class="hf-jinri2 clear">
		                    <p>{{jijiu2.p5}}</p>
		                    <p><span>{{jijiu2.span5}}</span>元起</p>
		                </div>
		                <div class="hf-jinri22">
		                    {{jijiu2.j55}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1">
		                <img src="{{jijiu2.img6}}" alt="">
		                <div class="hf-jinri2 clear">
		                    <p>{{jijiu2.p6}}</p>
		                    <p><span>{{jijiu2.span6}}</span>元起</p>
		                </div>
		                <div class="hf-jinri22">
		                    {{jijiu2.j66}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1">
		                <div class="hf-floor1-last">
		                    <div>
		                        <p>查看更多</p>
		                        <p>机酒自由行产品</p>
		                        <p class="hf-lastp">
		                            <a href="#" title="">机票</a>|
		                            <a href="#" title="">酒店</a>|
		                            <a href="#" title="">机+酒</a>|
		                            <a href="#" title="">游轮</a>
		                        </p>
		                    </div>
		                </div>
		            </div>
            </script>
        </div>
        <!-- 222 -->
		<div class="hf-freedom-hf hf-container">
			<div class="hf-freedom-header-hf  clear">
                <h1>主题推荐</h1>
                <p>亲子、蜜月、个性玩法…你想要的这里都有</p>
                <div class=" clear" id="hf-header-div-hf">
                    <a href="#" title="">精品小团</a>
                    <a href="#" title=""发现城市</a>
                    <a href="#" title="">亲子家庭</a>
                    <a href="#" title="">情侣蜜月</a>
                    <a href="#" title="">血拼购物</a>
                    <a href="#" title="">闺蜜同游</a>
                    <a href="#" title="">冒险之旅</a>
                </div>
            </div>
            <div class="hf-freedom-floor1-hf clear">
                
            </div>
            <script id="floor2" type='text/html'>
                   <div class="hf-freedom-floor2-zuo">
                        <img src="{{jijiu2.img1}}" alt="">
                        <div class="hf-jinri8 clear">
                            <p>{{jijiu2.p1}}</p>
                            <p><span>{{jijiu2.span1}}</span>元起</p>
                        </div>
                        <div class="hf-jinri88">
                            <p>{{jijiu2.j11}}</p>
                            <p>
                                <span>{{jijiu2.time1}}</span>
                            </p>
                        </div>
            		</div>
		            <div class="hf-floor1-you1-hf">
		                <img src="{{jijiu2.img2}}" alt="">
		                <div class="hf-jinri8 clear">
		                    <p>{{jijiu2.p2}}</p>
		                    <p><span>{{jijiu2.span2}}</span>元起</p>
		                </div>
		                <div class="hf-jinri88">
		                    {{jijiu2.j22}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1-hf">
		                <img src="{{jijiu2.img3}}" alt="">
		                <div class="hf-jinri8 clear">
		                    <p>{{jijiu2.p3}}</p>
		                    <p><span>{{jijiu2.span3}}</span>元起</p>
		                </div>
		                <div class="hf-jinri88">
		                    {{jijiu2.j33}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1-hf">
		                <img src="{{jijiu2.img4}}" alt="">
		                <div class="hf-jinri8 clear">
		                    <p>{{jijiu2.p4}}</p>
		                    <p><span>{{jijiu2.span4}}</span>元起</p>
		                </div>
		                <div class="hf-jinri88">
		                    {{jijiu2.j44}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1-hf">
		                <img src="{{jijiu2.img5}}" alt="">
		                <div class="hf-jinri8 clear">
		                    <p>{{jijiu2.p5}}</p>
		                    <p><span>{{jijiu2.span5}}</span>元起</p>
		                </div>
		                <div class="hf-jinri88">
		                    {{jijiu2.j55}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1-hf">
		                <img src="{{jijiu2.img6}}" alt="">
		                <div class="hf-jinri8 clear">
		                    <p>{{jijiu2.p6}}</p>
		                    <p><span>{{jijiu2.span6}}</span>元起</p>
		                </div>
		                <div class="hf-jinri88">
		                    {{jijiu2.j66}}
		                </div>
		            </div>
		            <div class="hf-floor1-you1-hf">
		                <div class="hf-floor1-last-hf">
		                    <div>
		                        <p>查看更多</p>
		                        <p>机酒自由行产品</p>
		                        <p class="hf-lastp-hf">
		                            <a href="#" title="">机票</a>|
		                            <a href="#" title="">酒店</a>|
		                            <a href="#" title="">机+酒</a>|
		                            <a href="#" title="">游轮</a>
		                        </p>
		                    </div>
		                </div>
		            </div>
            </script>
        
		</div>

        


    </div>
    <div class="hf-bigWorld-footer">
        <div class="hf-container">
            <a href="#" title="">机酒自由行</a>|
            <a href="#" title="">城市玩乐</a>|
            <a href="#" title="">签证</a>|
            <a href="#" title="">租车自驾</a>|
            <a href="#" title="">邮轮</a>|
            <a href="#" title="">海岛游</a>|
            <a href="#" title="">限时特卖</a>|
            <a href="#" title="">特色路线</a>|
            <a href="#" title="">CityWork</a>
        </div>
        <ul class="hf-container clear">
            <li class="clear">
                <img src="../images/bigworld/footer1.png" alt="">
                <div>
                    <p>专业保证</p>
                    <p>我们收集穷游er的真实诉求，也找寻全世界最独特的旅行目的地，让更多的穷游er轻松出行</p>
                </div>
            </li>
            <li class="clear">
                <img src="../images/bigworld/footer2.png" alt="">
                <div>
                    <p>专业保证</p>
                    <p>我们收集穷游er的真实诉求，也找寻全世界最独特的旅行目的地，让更多的穷游er轻松出行</p>
                </div>
            </li>
            <li class="clear">
                <img src="../images/bigworld/footer3.png" alt="">
                <div>
                    <p>专业保证</p>
                    <p>我们收集穷游er的真实诉求，也找寻全世界最独特的旅行目的地，让更多的穷游er轻松出行</p>
                </div>
            </li>
        </ul>
    </div>

    <footer id="  "></footer>
    <div id="pop">
        
    </div>
    
    <script type="text/javascript" src="../js/register.js">
        
    </script>
</body>

</html>
