<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../dest/community.css">
    <link rel="stylesheet" type="text/css" href="../dest/global.css">
</head>

<body>
    <header id="header"></header>
    <!-- floor1 -->
    <div class="ljjfloor1">
        <div class="container clear">
            <div class="f1left clear">
                <h1 class="f1h1">穷游论坛</h1>
                <p class="f1p">分享·结伴·找攻略</p>
            </div>
            <div class="f1right clear">
                <div class="f1right1">版面列表</div>
                <div class="f1right2"><span class="iconfont">&#xe618;</span>发新帖<span></span></div>
            </div>
        </div>
    </div>
    <!-- 锚点 -->
    <a href="#top" title="" name="top"></a>
    <!-- floor2 -->
    <div class="ljjfloor2">
        <div class="f2bottomImg">
            <!-- 背景最后面的图片 -->
            <img src="../images/community/sq1.jpg">
            <img src="../images/community/sq2.jpg">
            <img src="../images/community/sq3.jpg">
            <img src="../images/community/sq4.jpg">
            <img src="../images/community/sq5.jpg">
        </div>
        <div class="opct">
            <div class="container">
                <div class="ljjf2Slide clear">
                    <div class="f2left">
                        <!-- 上面左侧的的轮播图片 -->
                        <img src="../images/community/sq1.jpg">
                        <img src="../images/community/sq2.jpg">
                        <img src="../images/community/sq3.jpg">
                        <img src="../images/community/sq4.jpg">
                        <img src="../images/community/sq5.jpg">
                    </div>
                    <div class="f2right">
                        <a class="f2righta1" href="#">了不起的宇直</a>
                        <a class="f2righta2" href="#">[叫我宇直]不止是发现|马达加斯20日（全文完）</a>
                    </div>
                    <!-- 右侧的小图片指示符 -->
                    <ul class="f2rightUl clear">
                        <li>
                            <a href="#"><img src="../images/community/sq1.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../images/community/sq2.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../images/community/sq3.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../images/community/sq4.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="../images/community/sq5.jpg" alt=""></a>
                        </li>
                    </ul>
                    <!-- 左右链接的小图标人物 -->
                    <div class="f2SmallImg">
                        <img src="../images/community/sq1Small.jpg">
                        <img src="../images/community/sq2Small.jpg">
                        <img src="../images/community/sq3Small.jpg">
                        <img src="../images/community/sq4Small.jpg">
                        <img src="../images/community/sq5Small.jpg">
                    </div>
                    <!-- 定位最小图片 -->
                    <img class="ljjicon1" src="../images/community/icon.png" alt="">
                </div>
                <!-- 定位 -->
            </div>
        </div>
    </div>
    <!-- floor3 -->
    <div class="ljjfloor3">
        <div class="container clear">
            <!-- f3左侧 -->
            <div class="f3Box">
                <div class="f3Title clear">
                    <h3 class="active2">游记攻略</h3>
                    <h3>结伴同游</h3>
                    <h3>版面列表</h3>
                </div>
                <div class="content1">
                    <div class="content clear" id="c1" style="display: block"></div>
                    <div class="content clear" id="c2">
                        <!-- 头部 -->
                    </div>
                    <div class="content" id="c3">
                        <!-- 左侧的锚点 -->
                        <!--  <div class="menus" id="zoneMenus" style="visibility: visible; position: absolute; left: -104px; top: 70px;">
                       
                       <ul class="icon">
                               <li><a class="active" href='#lia1' name='lia1'>穷游兴趣小组</a></li>
                               <li><a href="#lia2" name='lia2'>欧洲</a></li>
                               <li><a href="#">亚洲</a></li>
                               <li><a href="#">美洲</a></li>
                               <li><a href="#">大洋洲</a></li>
                               <li><a href="#">非洲</a></li>
                               <li><a href="#">线上线下</a></li>
                               <li><a href="#">后院</a></li>
                       </ul>
                    </div> -->
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- f3右侧 -->
            <div class="f3boxRight">
                <!--f1  -->
                <div class="f3brightf1">
                    <div class="shang">
                        <div class="shang1">
                            <p>加入穷游社区</p>
                            <p>和穷游er在一起</p>
                            <p>发现世界</p>
                        </div>
                        <div class="shang2">
                            <a href="register.html">注册穷游</a>
                        </div>
                        <div class="shang3">
                            <span>已有账号?立即</span>
                            <a href="login.html">登陆</a>
                        </div>
                        <div class="shang4">
                            <span>或者第三方登陆</span>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="xia clear">
                        <a href="#" title=""><img src="../images/community/green.png" alt=""></a>
                        <div class="xiayou">
                            <p>在手机上看帖结伴</p>
                            <p><a href="#">iphone</a>|<a href="#">Android</a></p>
                        </div>
                    </div>
                </div>
                <!-- f2 -->
                <div class="f3brightf2">
                    <p><a href="#" target="_blank">更多>></a><span>社区活动</span></p>
                    <div class="f3brf2img">
                        <a href="#" target="_blank"><img src="../images/community/right1.jpg"></a>
                        <a href="#" target="_blank"><img src="../images/community/right2.jpg"></a>
                    </div>
                </div>
                <div class="f3brightf2">
                    <p><span>社区活动</span></p>
                    <div class="f3brf2img bottom">
                        <a href="#" target="_blank"><img src="../images/community/right3.jpg"></a>
                    </div>
                </div>
                <!-- f3 -->
                <div class="f3brightf2 clear">
                    <p class="clear"><a class="huanhuan" href="#" target="_blank">换一换</a><span>可能感兴趣的人</span></p>
                    <div class="f3brf2img  f3f2border clear">
                        <div class="f3brf2left">
                            <img src="../images/community/rightSmall1.jpg" alt="">
                        </div>
                        <div class="f3brf2right">
                            <p class="f3brf2p clear">
                                <span class="spanxb">纯净小白</span>
                                <img src="../images/community/icon.png" alt="">
                                <span class="spangz"><a href="#" >+关注</a></span>
                            </p>
                            <p class="f3brf2p2">问答探路者</p>
                        </div>
                    </div>
                </div>
                <div class="f3brightf2 clear">
                    <div class="f3brf2img  f3f2border clear">
                        <div class="f3brf2left">
                            <img src="../images/community/rightSmall2.jpg" alt="">
                        </div>
                        <div class="f3brf2right">
                            <p class="f3brf2p clear">
                                <span class="spanxb">Rambu</span>
                                <img src="../images/community/icon.png" alt="">
                                <span class="spangz"><a href="#" >+关注</a></span>
                            </p>
                            <p class="f3brf2p2">问答探路者</p>
                        </div>
                    </div>
                </div>
                <div class="f3brightf2 clear">
                    <div class="f3brf2img  f3f2border clear">
                        <div class="f3brf2left">
                            <img src="../images/community/rightSmall3.jpg" alt="">
                        </div>
                        <div class="f3brf2right">
                            <p class="f3brf2p clear">
                                <span class="spanxb">爱双双</span>
                                <img src="../images/community/icon.png" alt="">
                                <span class="spangz"><a href="#" >+关注</a></span>
                            </p>
                            <p class="f3brf2p2">穷游精华作者</p>
                        </div>
                    </div>
                </div>
                <div class="last">
                    <p><a href="#"><span class="iconfont">&#xe610;</span><span>成为穷游社区达人</span></a></p>
                    <p><a href="#"><span class="iconfont">&#xe632;</span><span>穷币兑换商城</span></a></p>
                    <p><a href="#"><span class="iconfont">&#xe642;</span><span>建议与反馈</span></a></p>
                    <p><a href="#"><span class="iconfont">&#xe604;</span><span>社区版权声明</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 定位右侧的东西 -->
    <div class="youDing1 clear">
        <div class="youdingleft">
            <img src="../images/community/dolig.png" alt="">
            <span class="ydleftspan">帮助&意见反馈</span>
            <img src="../images/community/jiantou.png" alt="">
        </div>
        <div class="youDing ">
            <div class="youdingright">
                <span class="r1span">遇到任何意见或建议请告诉我们</span>
                <p><span class="span1">使用遇到问题？请先进入</span><span class="span2">帮助中心</span></p>
                <div class="button" type='button'>提交</div>
            </div>
        </div>
    </div>
    <!-- 定位top和bottom -->
    <div class="bottomBox">
        <div class="topBtn"><a href="#" id="top"><span class="iconfont">&#xe62b;</span></a></div>
        <div class="bcenter">
            <img src="../images/community/ee.png" alt="">
            <p class="bcenterp1">手机</p>
            <p>看帖</p>
        </div>
        <!-- 定位二维码 -->
        <img  class="imgeer" src="../images/community/eer.png" alt="">
        <div class="bottomBtn"> <a href="#bottom" class='bottom1' ><span class="iconfont">&#xe6cc;</span></a></div>
    </div>
    </div>
    <a href="" name='bottom'></a>

    <footer id="footer"></footer>
    <div id="pop">
        
    </div>
</body>
<script id='tab1-content' type='text/html'>
    ##for(var i=0;i
    <tab1.length;i++){## <div class="contentLeft">
        <img src="{{tab1[i].imgUrl}}" alt="">
        </div>
        <div class="contentright">
            <ul class="contentright1 clear">
                <li class="crightli1">{{tab1[i].username}}</li>
                <li><img src="../images/community/icon.png" alt=""></li>
                <li>在 <a href="#" title="">{{tab1[i].address}}</a> 发布的游记</li>
                <li><span class="iconfont">&#xe610;</span><span class="li4span">{{tab1[i].people}}</span>人赞</li>
                <li><span class="iconfont">&#xe612;</span> {{tab1[i].lastResponse}}</li>
            </ul>
            <ul class="contentright2 clear">
                <li class="cr2li1">
                    <p class="p1"><a href="#">{{tab1[i].p1}}</a></p>
                    <p class="p2">{{tab1[i].p2}}</p>
                </li>
                <li class="cr2li2"><img src="{{tab1[i].cr2li2}}" alt=""></li>
            </ul>
        </div>
        ##}##
</script>
<script id='tab2-content' type='text/html'>
    <ul class="c2title clear">
        <li><span class="iconfont">&#xe611;</span></li>
        <li class="c2li2">我想约上你，一起看世界</li>
        <li><a href="#">更多待约穷游er>></a></li>
    </ul>
    ##for(var i=0;i
    <tab2.length;i++){## <!-- 左侧 -->
        <div class="c2textleft">
            <div class="c2floor1 clear">
                <p class="c2f1p1">{{tab2[i].username}}</p>
                <p class="c2f1p2"><span class="iconfont">&#xe627;</span><span class="c2p2span2">{{tab2[i].lookpeople}}</span>人浏览</p>
                <p class="c2f1p3"><span class="iconfont">&#xe612;</span><span class="c2p2span2">{{tab2[i].response}}</span>人回复</p>
                <p class="c2f1p4"><span class="iconfont">&#xe60e;</span>最后回复于<span class="c2p2span2">{{tab2[i].lastResponse}}</span>分钟前</p>
            </div>
            <!-- 用户头像定位 -->
            <img class="c2img" src="{{tab2[i].image}}" alt="">
            <div class="c2floor2">
                <a href="#">{{tab2[i].t2Title}}</a>
            </div>
            <div class="c2floor3 clear">
                <div class="left">
                    <p class="leftp1"><span>出发</span><span class="c2p2span2">{{tab2[i].startTime}}</span></p>
                    <p><span>返程</span><span class="c2p2span2">{{tab2[i].endTime}}</span></p>
                </div>
                <div class="right">
                    <p><span class="rightspan1"><img class="rimg" src="../images/community/dingwei.png" alt=""></span><span>{{tab2[i].address}}</span></p>
                </div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="c2textright">
            <img src="{{tab2[i].imgUrl}}" alt="">
        </div>
        ##}##
</script>
<script id='tab3-content' type='text/html'>
    ## for(var i=0;i
    <tab3.length;i++){## <li>
        <h3 class="c3h3">{{tab3[i].title}}</h3>
        <ul class="clear">
            ##for( var j = 0; j
            <tab3[i].data.length; j++ ){## <li class="c3div clear">
                <p class="c3p1">
                    <a href="#"><img src="{{tab3[i].data[j].qygroupImg}}"></a>
                </p>
                <p class="c3p2">
                    <a class="c3p2a" href="#">{{tab3[i].data[j].c3p1}}</a>
                    <span>{{tab3[i].data[j].c3p2}}</span>
                </p>
                </li>
                ##}##
        </ul>
        </li>
        ##}##
</script>
<!-- <script src='../bower_components/jquery/dist/jquery.js'></script> -->
<!-- <script src='../bower_components/underscore/underscore.js'></script> -->
<script src='../global.js'></script>
<script src='../jquery/community.js'></script>
<script type="text/javascript">
    seajs.config({
        base:'./'
    })
    seajs.use('../jquery/community.js',function(community){
        community.init();
    });
</script>
</html>
