<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>穷游</title>
    <link rel="stylesheet" href="../dest/global.css">
    <link rel="stylesheet" href="../dest/index.css">
    <link rel="stylesheet" type="text/css" href="../dest/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../dest/daterangepicker.css">
</head>

<body>
    <header id="header"></header>
    <div class="container">
        <div class="bannercontainer">
            <div class="bannerbody">
                <div class="banner banner5">
                	<p class="page"><span>5</span>/5</p>
                    <p class="country">穷游锦囊 | 巴塞罗那美食</p>
                    <p class="desc">不羁的加泰罗尼亚料理 山与海的经典菜肴</p>
                </div>
                <div class="banner banner4">
                	<p class="page"><span>4</span>/5</p>
                    <p class="country">【新西兰游记攻略】星空为被 草地为席 自驾房车游</p>
                    <p class="desc">GreatPretender</p>
                </div>
                <div class="banner banner3">
                	<p class="page"><span>3</span>/5</p>
                    <p class="country">【意大利游记攻略】美食推荐 旅拍分享 意游未尽</p>
                    <p class="desc">大喊包Tequila</p>
                </div>
                <div class="banner banner2">
                    <p class="page"><span>2</span>/5</p>
                    <p class="country">穷游锦囊|袋鼠岛</p>
                    <p class="desc">【日本游记攻略】滑粉雪泡温泉 顺便刷个三年签</p>
                </div>
                <div class="banner banner1">
                    <p class="page"><span>1</span>/5</p>
                    <p class="country">穷游锦囊|袋鼠岛</p>
                    <p class="desc">享自然、遇萌物、品美食……在“没有围栏的动物园”里撒欢吧！／穿城而过的滚滚汗河，绵长秀美的海滩</p>
                </div>
            </div>
            <div class="prevbtn">&lt;</div>
			<div class="nextbtn">&gt;</div>
            <div class="inputcontainer">
            	<ul class="clear">
            		<li class="li1 active">目的地</li>
            		<li class="li2">做行程</li>
            		<li class="li3">买折扣</li>
            		<li class="li4">酒店</li>
            	</ul>
            	<div class="inputbody">
            		<div class="destination" style="display: block;">
            			<input type="text" name="" value="" placeholder="美国">
            			<button type="button">搜索</button>
            			<div class="hotsearch">
            				<h3>热门城市</h3>
            				<ul class="clear"></ul>
            			</div>
            		</div>
            		<div class="trip">
            			<p>一分钟搞定你的攻略</p>
            			<a class="trip1" href="#"><i class="iconfont">&#xe685;</i>创建行程</a>
            			<a class="trip2" href="#"><i class="iconfont">&#xe744;</i>免费定制</a>
            		</div>
            		<div class="discount">
            			<input type="text" name="" value="" placeholder="搜索目的地/折扣类型/关键词">
            			<button type="button">搜索</button>
            			<div class="hotsearch">
            				<h3>热门搜索</h3>
            				<ul class="clear"></ul>
            			</div>
            		</div>
            		<div class="hotel">
            			<input class="input1" type="text" name="" value="" placeholder="请输入目的地/酒店名">
            			<input class="input2" id="hotelin" type="text" name="" value="" placeholder="入住时间">
            			<input class="input3" id="hotelout" type="text" name="" value="" placeholder="退房时间">
            			<button class="hotelbtn" type="button">搜索酒店</button>
            			<div class="hotsearch">
            				<h3>热门搜索</h3>
            				<ul class="clear"></ul>
            			</div>
            			<div class="hotelin-container"></div>
            			<div class="hotelout-container"></div>
            		</div>
            	</div>
            </div>
        </div>
        <div class="ads clear">
        	<img src="../images/index/index01.jpg" alt="">
        	<img src="../images/index/index02.jpg" alt="">
        </div>
        <div class="interestcontainer">
        	<h2>猜你感兴趣</h2>
        	<p><i class="iconfont">&#xe62b;</i> 换一换</p>
        	<ul class="interest clear"></ul>
        </div>
        <div class="zworldcontainer">
        	<div class="zworld">
	        	<h2></h2>
				<div class="slide">
					<ul class="slideitem clear" style="display: block;">
					</ul>
					<ul class="slideitem clear">
					</ul>
					<ul class="slideitem clear"></ul>
					<ul class="slideitem clear"></ul>
					<ul class="slideitem clear"></ul>
				</div>	
				<div class="slideindicator">
					<span class="active"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="morebtn">
					<a href="//z.qyer.com/">查看更多折扣</a>
				</div>
        	</div>
        </div>
        <div class="hottravelcontainer">
        	<h2 class="traveltitle">热门游记与话题</h2>
        	<div class="hottravel">
			</div>	
			<div class="travelindicator">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="morebtn">
				<a href="//bbs.qyer.com">查看更多游记</a>
			</div>
        </div>
        <div class="freedomcontainer">
            <div class="freedom clear">
                <div class="freedom1 clear">
                    <h2>免费体验，限时申领中</h2>
                    <div class="freedom1left">
                        <div class="image">
                            <img src="../images/index/freedom01.jpg" alt="">
                            <p class="bg"></p>
                            <p class="timer" data-end-time="1486655999000">距离结束：<span>19天13小时15分51秒</span></p>
                        </div>
                        <h4>最世界City Walk全球独家日游免费体验</h4>
                        <div class="txt clear">
                            <div class="txtleft">
                                <p class="txt1">价值 ￥300</p>
                                <p>免费体验名额 10 个</p>
                            </div>
                            <div class="btnright">免费申请</div>
                        </div>
                    </div>
                    <div class="freedom1right">
                        <div class="image">
                            <img src="../images/index/freedom02.png" alt="">
                        </div>
                        <div class="imgtxt clear">
                            <img src="../images/index/freedom03.jpg" alt="">
                            <div class="txt">
                                <h4>The North Face Ultra系列徒步鞋</h4>
                                <div class="ptxt">
                                    <p class="txt1">价值 ￥1,698</p>
                                    <p>免费体验名额 12 个</p>  
                                </div> 
                            </div>
                        </div>
                        <div class="photo">
                            <h4>近期参与</h4>
                            <ul class="">
                                <li><img src="../images/index/ph-01.jpg" alt=""></li>
                                <li><img src="../images/index/ph-02.jpg" alt=""></li>
                                <li><img src="../images/index/ph-03.jpg" alt=""></li>
                                <li><img src="../images/index/ph-04.jpg" alt=""></li>
                                <li><img src="../images/index/ph-05.jpg" alt=""></li>
                                <li><img src="../images/index/ph-03.jpg" alt=""></li>
                                <li><img src="../images/index/ph-06.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="freedom2">
                    <h2 class="title"><a href="">我要点评</a>最新目的地点评</h2>
                    <div class="content">
                        <div class="contentshow">
                            
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="application clear">
            <div class="apps clear">
                <h2>穷游APP</h2>
                <ul class="clear">
                    <li>
                        <a href="//app.qyer.com/guide/"><img src="../images/index/app_qyer.png" alt=""></a>
                        <p>穷游</p>
                    </li>
                    <li>
                        <a href="//app.qyer.com/plan/"><img src="../images/index/app_plan.png" alt=""></a>
                        <p>行程助手</p>
                    </li>
                    <li>
                        <a href="//app.qyer.com/lastminute/"><img src="../images/index/app_z.png" alt=""></a>
                        <p>穷游最世界</p>
                    </li>
                    <li>
                        <a href="//guide.qyer.com/app/"><img src="../images/index/app_guide.png" alt=""></a>
                        <p>穷游锦囊</p>
                    </li>
                </ul>
            </div>
            <div class="wechat clear">
                <h2>微信号</h2>
                <ul class="clear">
                    <li>
                        <a href="//app.qyer.com/guide/"><img src="../images/index/qrcode_qyer.png" alt=""></a>
                        <p>穷游网</p>
                    </li>
                    <li>
                        <a href="//app.qyer.com/plan/"><img src="../images/index/qrcode_z.png" alt=""></a>
                        <p>穷游最世界</p>
                    </li>
                    <li>
                        <a href="//app.qyer.com/lastminute/"><img src="../images/index/qrcode_guide.png" alt=""></a>
                        <p>穷游锦囊</p>
                    </li>
                    <li>
                        <a href="//guide.qyer.com/app/"><img src="../images/index/qrcode_plan.png" alt=""></a>
                        <p>行程助手</p>
                    </li>
                </ul>
            </div>
        </div>
       	<script type="text/html" id="interestModel">
       		##for(var i=0;i<interestArray.length;i++){##
				<li class="interestcell">
        			<a href="#">
        				<img src="{{interestArray[i].img}}" alt="">
	        			<div class="info">
	        				<h4>{{interestArray[i].title}}</h4>
	        				<p class="infoleft">{{interestArray[i].city}}</p>
	        				<p class="inforight"><em>{{interestArray[i].money}}</em>{{interestArray[i].desc}}</p>
	        			</div>
	        			<div class="bg">
	        				<div class="bgcolor animated bounceInRight"></div>
	        				<span>你可能感兴趣的景点</span>
	        			</div>
	        			<div class="circle">
	        				<span><i class="iconfont">{{interestArray[i].tagicon}}</i></span>
	        				<span class="bt">{{interestArray[i].tag}}</span>
	        			</div>
        			</a>
        		</li>
       		##}##
       	</script>
       	<script type="text/html" id="buytodayModel">
       		##for(var i=0;i<list1.length;i++){##
       			<li class="buytoday">
					<h3>{{list1[i].title1}}</h3>
					<div class="buyimg">
						<img src="{{list1[i].img}}" alt="">
						<div class="wrap">
							<p>{{list1[i].title2}}</p>
						</div>
					</div>
					<div class="buyprice clear">
						<span><em>{{list1[i].money}}</em>元起</span>
						<button type="button">立即抢购</button>
					</div>
					<div class="buymore">
						<p><a href="#">{{list1[i].desc}}</a></p>
					</div>
				</li>
       		##}##
       	</script>
       	<script type="text/html" id="buynext1Model">
       		##for(var i=0;i<list2.length;i++){##
       			<li class="buynext">
					<a href="#">
						<div class="buyleft">
							<img src="{{list2[i].img}}" alt="">
						</div>
						<div class="buyright">
							<h3>{{list2[i].title}}</h3>
							<div class="visa clear">
								<span class="tag">{{list2[i].type}}</span>
								<span class="time">{{list2[i].time}}</span>
							</div>
							<div class="price clear">
								<span><em>{{list2[i].money}}</em>元起</span>
							</div>
						</div>	
					</a>
				</li>
       		##}##
       	</script>
        <script type="text/html" id="hottravelModel">
            ##for(var i=0;i<travelArr.length;i++){##
                <ul class="travelitem clear"">
                    ##for(var j=0;j<travelArr[i].length;j++){##
                    ##var s = travelArr[i][j];##
                    <li>
                        <a href="#">
                            <div class="travelimg">
                                <img src="{{s.pic}}" alt="">
                                <p><i class="iconfont">&#xe69c;</i>&nbsp;{{s.total_replies}}</p>
                            </div>
                            <div class="txt">
                                <p>{{s.username}}<span></span></p>
                                <h3>{{s.title}}</h3>
                                <div class="cir">
                                    <span><img src="{{s.auth.avatar}}" alt=""></span>
                                </div>
                            </div>  
                        </a>
                    </li>
                    ##}##
                </ul>
            ##}##
        </script>
        <script type="text/html" id="freedomModel">
            ##for(var i=0;i<freedomArr.length;i++){##
            ##var f=freedomArr[i];##
            <div class="info clear">
                <div class="image">
                    <span><img src="{{f.img}}" alt=""></span>
                </div>
                <div class="txt">
                    <p><span class="name">{{f.name}}</span> 点评了 <span>{{f.place}}</span></p>
                    <ul class="star clear">
                        <li class="iconfont">&#xe605;</li>
                        <li class="iconfont">&#xe605;</li>
                        <li class="iconfont">&#xe605;</li>
                        <li class="iconfont">&#xe605;</li>
                        <li class="iconfont">&#xe605;</li>
                    </ul>
                    <div class="desc">{{f.desc}}</p>
                        <span>全文</span>
                    </div> 
                </div>
            </div>
            ##}##
        </script>
    </div>
    <footer id="footer"></footer>
    <div id="pop"></div>
</body>
<script src='../global.js'></script>
<!-- 日历插件 -->
<script src="../js/moment.min.js"></script>
<script src="../js/jquery.daterangepicker.js"></script>

<!-- <script src='js/main.js'></script> -->
<script src='../js/index.js'></script>
</head>

<body></body>

</html>
