<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>穷游锦囊</title>
    <link rel="stylesheet" href="../dest/global.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" type="text/css" href="../dest/silkbag.css">
</head>

<body>
    <header id="header"></header>
    <div class="silkbag-container">
        <div class="head">穷游锦囊</div>
        <div class="content clear">
            <div class="gui">
                <img src="../images/silkbag/title.png" alt="">
                <input type="search" placeholder="搜索穷游锦囊">
            </div>
            <div class="area-box clear">
                <nav>
                    <ul class="nav-list" id="nav-list">
                    </ul>
                </nav>
                <div class="slide-box clear" id="slide-box">
                    <ul class="slide clear">
                        <li><img src="../images/silkbag/slide1.jpg" alt=""></li>
                        <li><img src="../images/silkbag/slide2.jpg" alt=""></li>
                    </ul>
                    <ul class="liList clear">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="ad">
                <a href="javascript:void(0)" title="">
                    <img src="../images/silkbag/ad.jpg" alt="">
                </a>
            </div>
            <div class="recommend">
                <h3>编辑推荐</h3>
                <ul class="img-show clear">
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_1.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">锦囊精选杂志</a></p>
                        <button>免费下载</button>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_2.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">袋鼠岛</a></p>
                        <button>免费下载</button>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_3.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">瑞典</a></p>
                        <button>免费下载</button>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_4.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">保加利亚</a></p>
                        <button>免费下载</button>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_5.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">莱茵河谷</a></p>
                        <button>免费下载</button>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="">
                            <img src="../images/silkbag/recommend_6.jpg" alt="">
                            <span class="new"></span>
                        </a>
                        <p><a href="javascript:void(0)" title="">美国西部滑雪</a></p>
                        <button>免费下载</button>
                    </li>
                </ul>
            </div>
            <div class="download clear" id="download">
                <div class="download-left">
                    <h3>他们刚刚下载了穷游锦囊</h3>
                    <ul class="download-list">
                        <div class="move-box">
                            <li class="clear">
                                <img src="../images/silkbag/photo_1.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">威尼斯</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_2.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">台湾美食</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_3.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">甲米与兰塔岛</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_4.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">佛罗伦萨</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_5.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">香港</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_2.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">墨尔本</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_3.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">罗马</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_4.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">巴厘岛与龙目岛</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_5.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">鼓浪屿</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <!--  -->
                            <li class="clear">
                                <img src="../images/silkbag/photo_1.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">威尼斯</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_2.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">台湾美食</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_3.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">甲米与兰塔岛</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_4.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">佛罗伦萨</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_5.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">香港</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_2.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">墨尔本</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_3.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">罗马</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_4.jpg" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">巴厘岛与龙目岛</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                            <li class="clear">
                                <img src="../images/silkbag/photo_5.png" alt="">
                                <div>
                                    <span>刚刚下载了</span>
                                    <a href="javascript:void(0)" title="">鼓浪屿</a>
                                    <span>穷游锦囊</span>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <div class="twocode">
                        <img src="../images/silkbag/twocode.jpg" alt="">
                    </div>
                    <div class="author">
                        <img src="../images/silkbag/author.jpg" alt="">
                    </div>
                </div>
                <div class="download-right">
                    <h3>全部穷游锦囊</h3>
                    <div class="tab">
                        <a href="javascript:void(0)" class="active">按更新时间</a>
                        <span>|</span>
                        <a href="javascript:void(0)">最近7天下载量</a>
                    </div>
                    <div class="tab-content">
                        <ul class="tab-content-box" id="tab-content-box">
                        </ul>
                        <div id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-txt">
            穷游锦囊是穷游网推出的原创旅游指南，致力于为旅行者提供实用的自助游攻略，包括美食购物、交通住宿、路线推荐、自驾路书、当地特色体验等，是出境游必不可少的旅游攻略。
        </div>
    </div>
    <!-- </div> -->
    <!-- 尾部 -->
    <footer id="footer"></footer>
    <!-- 弹出广告 -->
    <!-- <div id="pop"></div> -->


    <script type='text/html' id="tab-content">
        ##for( var i = 0; i<4;i++ ){## 
        <li>
            <ul class="tab-content-list clear">
                ##for( var j = 0; j<slikbagData[i].length ; j++ ){## 
                <li>
                    <a href="javascript:void(0)" class="show-img">
                        <img src="{{slikbagData[i][j].imgUrl}}" alt="">
                        <span class="new"></span>
                        <div class="mask"></div>
                    </a>
                    <p class="name"><a href="javascript:void(0)">{{slikbagData[i][j].name}}</a></p>
                    <p class="place">{{slikbagData[i][j].place}}</p>
                    <p class="date">{{slikbagData[i][j].date}}更新</p>
                    </li>
                    ##}##
            </ul>
            </li>
            ##}##
    </script>
    <script type='text/html' id='area-html'>
        ##for( var i = 0; i<areaData.length;i++ ){## 
             <li class="clear">
                <span class="area">{{areaData[i].name}}</span>
                <span class="num">{{areaData[i].list.length}}</span>
                <div class="area-info" >
                    <ul class="area-list clear" style="width: {{(175*areaData[i].list.length)+'px'}}">
                        ##for( var j = 0; j< areaData[i].list.length; j++ ){## 
                        <li>
                            <h4>{{areaData[i].list[j].place}}</h4>
                            <ul>
                                ##for( var k = 0; k < areaData[i].list[j].infoList.length; k++ ){## 
                                <li>{{areaData[i].list[j].infoList[k]}}</li>
                                    ##}##
                            </ul>
                        </li>
                        ##}##
                    </ul>
                    <div class="btn-group">
                        <span class="pre"></span>
                        <span class="next"></span>
                    </div>
                </div>
            </li>
        ##}##
    </script>

    <script src='../global.js'></script>
    <!-- 轮播插件 -->
    <script src='../plug/unslider/unslider.min.js'></script>
    <!-- 分页插件 -->
    <script src='../plug/pagination/js/jquery.pagination.min.js'></script>
    <script>
    seajs.config({
        base: './'
    })
    seajs.use('../js/silkbag.js', function(silkbag) {
        silkbag.init();
    })
    </script>
</body>

</html>
